<!-- Showcase Start -->

<div class="showcase">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<!-- Showcase section item -->
				<div class="showcase-item">
					<!-- Image -->
					<img class="img-responsive" src="img/fruit2.png" alt="" />
					<!-- Heading -->
					<h3><a href="#">Our mission</a></h3>
					<!-- Paragraph -->
					<p>We are dedicated to helping the world discover and share the craft of do-it-yourself, natural beauty.</p>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6">
				<!-- Showcase section item -->
				<div class="showcase-item">
					<!-- Image -->
					<img class="img-responsive" src="img/fruit3.png" alt="" />
					<!-- Heading -->
					<h3><a href="#">Our App</a></h3>
					<!-- Paragraph -->
					<p>Coming soon, an app that tells you natural alternatives to a skin care product, all with the touch of a button!</p>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Showcase End -->