
<!--label class="checkbox">
	<input id="<%= id %>" type="checkbox" value="<%= id %>" <% if(state) {%> checked="checked" <%}%> />
	<label for="<%= id %>"><%= desc %></label>
</label-->

<li>
	<a href="#search-recipes//<%= id %>//">
		<!--img src="img/nav-menu/<%= id %>.jpg" class="img-responsive category" alt="<%= desc %>" title="<%= desc %>" /-->
		<span class="icon-<%= id %> category" title="<%= desc %>" style="font-size: 36px; padding: 10px" title=""></span><span class="mls"></span>
	</a>
</li>
