<%if(photo==undefined){%>
	<div class="fileupload fileupload-new span3" data-provides="fileupload">	
		<div class="fileupload-new thumbnail" style="width: 200px; height: 80px;">
			<img src="http://www.placehold.it/200x80/EFEFEF/AAAAAA&text=no+image" />
		</div>	
		<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 80px; line-height: 20px;">
		</div>	
		<div  class="root">
			<span class="btn btn-file">
				<span class="fileupload-new">Select image</span>
				<span class="fileupload-exists">Change</span>
				<input type="file" name="photo" multiple />
			</span>
			<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
		</div>
	</div>
<%}else{%>
	<div class="fileupload fileupload-exists span3" data-provides="fileupload" id="<%= photo.key%>">								
		<input type="hidden" value="<%= photo.key%>" name="@{"removed["+i+"].photoId"}" id="@{"removed["+i+"].photoId"}"/>
		<input type="hidden" value="<%= photo.metadata.originKey%>" name="@{"removed["+i+"].originKey"}" id="@{"removed["+i+"].originKey"}"/>
		<input type="hidden" value="false" name="@{"removed["+i+"].removedPhoto"}" id="@{"removed["+i+"].removedPhoto"}" class="removedPhoto"/>
		
		<div class="fileupload-new thumbnail" style="width: 200px; height: 80px;">
			<img src="http://www.placehold.it/200x80/EFEFEF/AAAAAA&text=no+image" />
		</div>	
		<div class="fileupload-preview fileupload-exists thumbnail" style="width: 200px; height: 80px;">
			<img src="<%= photo.fullUrl%>" />
		</div>	
		<div class="root">
			<span class="btn btn-file">
				<span class="fileupload-new">Select image</span>
				<span class="fileupload-exists">Change</span>
				<input type="file" name="photo" multiple />
			</span>
			<a href="#" class="btn fileupload-exists removePhoto" data-dismiss="fileupload">Remove</a>
		</div>
	</div>	
<%}%>