<%if(photo==undefined){%>
	<div class="fileupload fileupload-new col-xs-6 col-sm-4 col-md-3" data-provides="fileupload">	
		<div class="fileupload-new thumbnail" style="max-width: 200px; height: 80px;">
			<img src="http://www.placehold.it/200x80/EFEFEF/AAAAAA&text=no+image" style="width: 100%"/>
		</div>	
		<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; height: 80px; line-height: 20px;">
		</div>	
		<div  class="root">
			<span class="btn btn-default btn-file">
				<span class="fileupload-new">Select image</span>
				<span class="fileupload-exists">Change</span>
				<input type="file" name="photo" multiple />
			</span>
			<a href="#" class="btn btn-default fileupload-exists removePhoto" data-dismiss="fileupload">Remove</a>
		</div>
	</div>
<%}else{%>
	<div class="fileupload fileupload-exists col-xs-6 col-sm-4 col-md-3" data-provides="fileupload" originkey="<%= photo.metadata.originKey%>">								
		<div class="fileupload-new thumbnail" style="max-width: 200px; height: 80px;">
			<img src="http://www.placehold.it/200x80/EFEFEF/AAAAAA&text=no+image" style="width: 100%"/>
		</div>	
		<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; height: 80px;">
			<img src="<%= photo.fullUrl%>" style="width: 100%"/>
		</div>	
		<div class="root">
			<span class="btn btn-default btn-file">
				<span class="fileupload-new">Select image</span>
				<span class="fileupload-exists">Change</span>
				<input type="file" name="photo" multiple />
			</span>
			<a href="#" class="btn btn-default fileupload-exists removePhoto" data-dismiss="fileupload">Remove</a>
		</div>
	</div>	
<%}%>