<div class="row">
	<div class="col-md-12">
		<div class="main-content-width user-signup-form center-in-span">
			<div class="row">
				<div class="col-md-12 dialog-title">Write us</div>
				<div class="input-details col-md-12">
					<div class="input-name col-md-12">Subject*</div>
					<input data-tp="editable2" class="col-md-12" data="Subject" type="text" placeholder="Hi there..." name="subject" id="subject">
				</div>
				<div class="input-details col-md-12">
					<div class="input-name col-md-12">Message*</div>
					<textarea class="col-md-12" data="Message" type="text" placeholder="I just wanted to let you know..." name="message" id="message"></textarea>
				</div>
				<div class="input-details col-md-12">
					<div class="input-name col-md-12">Email*</div>
					<input data-tp="editable2" class="col-md-12" data="Email" type="text" placeholder="your@example.com..." name="em" id="em">
				</div>
				<!--div class="center-in-span text-align-center">
					<button type="submit" id="send" class="">Send</button>
				</div-->
			</div>
		</div>
	</div>
</div>