<div class="row-fluid">
	<div class="span12 signup-body">
		<div class="signup-form-width signup-form signup-form-container next-to-header center-in-span">
			<div class="row-fluid">
				<form name="form" method="POST" action="/signup">
					<div class="span12" id="title">We're busy mixing something beautiful here at <span class="brand-name">Becipe</span> and can't wait to share it with you. Enter your name and email to sign up and get updates about all the gorgeous ways we're going to change the DIY homemade skin care industry.</div>
					<input class="span6" data="First Name" type="text" value="First Name" name="fn" id="fn" class="empty">
					<input class="span6" data="Last Name" type="text" value="Last Name" name="ln" id="ln" class="empty">
					<input class="span12" data="Email" type="text" value="Email" name="em" id="em" class="empty">
					<div class="center-in-span">
						<button type="submit" id="signup" class="">Sign Up</button>
					</div>
				</form>	
			</div>
			<div class="row-fluid">
				<div id="footer">
					<div class="float-left text">
					You can also send us feedback to
					<a href="mailto:info@@becipe.com" style="color: #fff;font-weight: bold">info@becipe.com</a>
					or join us on
					</div> 
						<!-- social bar -->
						<div class="float-left social-site"></div>
						<!-- end of social bar -->	
				</div>
			</div>
		</div>	
	</div>
</div>