
<!-- Banner Start -->

<div class="banner banner-about-us next-to-header padd hidden-xs hidden-sm">
	<div class="container">
		<!-- Image -->
		<img class="img-responsive" src="img/crown-white.png" alt="" />
		<!-- Heading -->
		<h2 class="white">About Us</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#about-us">About Us</a></li>
		</ol>
		<div class="clearfix"></div>
	</div>
</div>
<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

<div class="row">
	<div class="col-md-12">
		<div class="center-in-span main-content-width about-us-container">
		
			<div class="about-company">
				<div class="about-company-item">
		
					<h3>Thanks for coming by.</h3>

					<p>We're workig on it as we speak.</p>
					
					<h4 class="pull-right">Katrin, Ksenia and Peter</h4>	
					<div class="clearfix"></div>
				</div>	
				<div class="border"></div>
				
			</div>
		
		</div>
	</div>
</div>