
<div class="row-fluid">
	<div class="span12">
		<div class="user-signup-form-width user-signup-form next-to-header center-in-span">
			<div class="row-fluid">
				<form name="form" method="POST">
					<div class="span12" id="title">Confirm Registration</div>
					<input class="span12" data="First Name" type="text" value="<%= fn%>" name="fn" id="fn" readonly="readonly">
					<input class="span12" data="Last Name" type="text" value="<%= ln%>" name="ln" id="ln" readonly="readonly">
					<input class="span12" data="Email Address" type="text" value="<%= em%>" name="em" id="em" readonly="readonly">
					<input class="span12 empty" data="Password" type="password" value="Password" name="ps" id="ps">
					<input class="span12 empty" data="Re-enter Password" type="password" value="Re-enter Password" name="reps" id="reps">
					<div class="center-in-span">
						<button type="submit" id="confirm" class="">Confirm</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>