<!-- Banner Start -->

<div class="banner banner-about-us next-to-header padd hidden-xs hidden-sm"></div>
<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

<div class="row">
	<div class="col-md-12">
		<div class="center-in-span main-content-width signup-thankyou-container">
			
			<h2>Welcome back <span class="name"><%= name %></span>!</h2>

			<p>The password was successfully reset.</p>
				
			<p>Happy mixing!</p>
			<p>The Becipe Team</p>
			
		</div>
	</div>
</div>