
<div class="row">
	<div class="col-md-12">
		<div class="user-signup-form-width user-signup-form next-to-header center-in-span">
			<div class="row">
				<form name="form" method="POST">
					<div class="col-md-12" id="title">Forgot Password</div>
					<input class="col-md-12" data="Email Address" type="text" placeholder="Email Address" name="em" id="em">
					<div class="center-in-span">
						<button type="submit" id="resetPassword" class="">Reset Password</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>