<div class="row">
	<div class="col-md-12">
		<div class="center-in-span main-content-width signup-thankyou-container">
			
			<h2>Thank you <span class="name"><%= name %></span>!</h2>

			<p>We're almost done! Just one more ingredient is needed.</p>
			
			<p>We just sent you a confirmation email. Please check your inbox and click on the confirmation link to activate your account.</p>
			<p>Sometimes it takes several minutes for email to arrive, please be patient.</p> 
			<p>If it takes too long, you might want to check the spam folder. Maybe it is waiting for you there..</p>
				
			<p>Happy mixing!</p>
			<p>The Becipe Team</p>
			
		</div>
	</div>
</div>