<!-- Banner Start -->

<div class="banner banner-about-us next-to-header padd hidden-xs hidden-sm"></div>
<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

<div class="row">
	<div class="col-md-12">
		<div class="center-in-span main-content-width signup-thankyou-container">
			
			<h2>Howdy <span class="name"><%= name %></span>!</h2>
			
			<p>We just sent you a reset email. Please check your inbox and click on the reset link to change your password.</p>
			<p>Sometimes it takes several minutes for email to arrive, please be patient.</p> 
			<p>If it takes too long, you might want to check the spam folder. Maybe it is waiting for you there..</p>
				
			<p>Happy mixing!</p>
			<p>The Becipe Team</p>
			
		</div>
	</div>
</div>