
<div class="row-fluid">
	<div class="span12">
		<div class="user-signup-form-width user-signup-form next-to-header center-in-span">
			<div class="row-fluid">
				<form name="form" method="POST">
					<div class="span12" id="title">Login</div>
					<input class="span12" data="Email Address" type="text" placeholder="Email Address" name="em" id="em">
					<input class="span12" data="Password" type="password" placeholder="Password" name="ps" id="ps">
					<!--a class="grey-link" href="#user/forgot-password">Forgot Password</a-->
					<div class="center-in-span">
						<button type="submit" id="login" class="">Login</button>
					</div>
				</form>
				<div class="center-in-span action">
					<a  class="grey-link" href="#user/signup">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>