
<!-- Banner Start -->

<div class="banner banner-about-us next-to-header padd hidden-xs hidden-sm"></div>
<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

<div class="row">
	<div class="col-md-12">
		<div class="social-section oath-provider">
			<h1>Reset Password</h1>
			<div class="border"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="user-signup-form-width user-signup-form center-in-span">
			<form name="form" method="POST">
				<input data="Email Address" type="text" placeholder="Email Address" name="em" id="em">
				<div class="clearfix"></div>
				<!--a class="grey-link" href="#user/forgot-password">Forgot Password</a-->
				<button type="submit" id="resetPassword" class="btn btn-danger">Request reset link</button><span class="or">or</span> <a href="#user/login">Login</a>
			</form>
		</div>
	</div>
</div>