
<!-- Banner Start -->

<div class="banner banner-about-us next-to-header padd hidden-xs hidden-sm"></div>
<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

<div class="row">
	<div class="col-md-12">
		<div class="user-signup-form-width user-signup-form center-in-span">
			<form name="form" method="POST">
				<div id="title">Login</div>
				<input data="Email Address" type="text" placeholder="Email Address" name="em" id="em">
				<input data="Password" type="password" placeholder="Password" name="ps" id="ps">
				<!--a class="grey-link" href="#user/forgot-password">Forgot Password</a-->
				<div class="center-in-span">
					<button type="submit" id="login" class="btn btn-danger">Login</button>
				</div>
			</form>
			<div class="action">
				<span class="question">Don't have an account?</span> <a href="#user/signup">Sign Up</a>
			</div>
			<div class="action">
				<span class="question">Forgot password?</span> <a href="#user/forgotpassw">Reset</a>
			</div>
		</div>
	</div>
</div>