
<!-- Banner Start -->

<div class="banner banner-about-us next-to-header padd hidden-xs hidden-sm"></div>
<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

<div class="row">
	<div class="col-md-12">
		<div class="user-signup-form-width user-signup-form center-in-span">
			<form name="form" method="POST">
				<div id="title">Create Your Account</div>
				<input data="First Name" type="text" placeholder="First Name" name="fn" id="fn">
				<input data="Last Name" type="text" placeholder="Last Name" name="ln" id="ln">
				<input data="Email Address" type="text" placeholder="Email Address" name="em" id="em">
				<div class="center-in-span">
					<button type="submit" id="signup" class="btn btn-danger">Sign Up</button>
				</div>
			</form>
			<div class="center-in-span action">
				<span class="question">Already have an account?</span><a href="#user/login">Login</a>
			</div>
		</div>
	</div>
</div>