<!-- Banner Start -->

<div class="banner banner-about-us next-to-header padd hidden-xs hidden-sm"></div>
<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

<div class="row">
	<div class="col-md-12">
		<div class="about-company">
				<div class="about-company-item">
			
				<h2>Welcome back <span class="name"><%= name %></span>!</h2>

				<p>The password was successfully reset.</p>
					
				<h4 style="margin-top: 48px;">Happy mixing!</h4>
				<h4 style="margin-top: 0">The Becipe Team</h4>
			</div>
		</div>
	</div>
</div>