
<!-- Banner Start -->

<div class="banner banner-about-us next-to-header padd hidden-xs hidden-sm"></div>
<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

<div class="row">
	<div class="col-md-12">
		<div class="user-signup-form-width user-signup-form center-in-span">
			<div class="row">
				<form name="form" method="POST">
					<div class="col-md-12" id="title">Forgot Password</div>
					<input class="col-md-12" data="Email Address" type="text" placeholder="Email Address" name="em" id="em">
					<div class="center-in-span">
						<button type="submit" id="resetPassword" class="btn btn-danger">Reset Password</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>