
<div class="row-fluid">
	<div class="span12">
		<div class="user-signup-form-width user-signup-form next-to-header center-in-span">
			<div class="row-fluid">
				<form name="form" method="POST">
					<div class="span12" id="title">Create Your Account</div>
					<input class="span12 empty" data="First Name" type="text" value="First Name" name="fn" id="fn">
					<input class="span12 empty" data="Last Name" type="text" value="Last Name" name="ln" id="ln">
					<input class="span12 empty" data="Email Address" type="text" value="Email Address" name="em" id="em">
					<div class="center-in-span">
						<button type="submit" id="signup" class="">Sign Up</button>
					</div>
				</form>
				<div class="center-in-span action">
					<a class="grey-link" href="#user/login">Already have an account?</a>
				</div>
			</div>
		</div>
	</div>
</div>