@(recipe: Recipe, relatedRecipes: Seq[Recipe])(implicit request: RequestHeader, session: play.api.mvc.Session)

@import play.api.libs.json._

@getWordFor(i: Int) = {
	@{i match {
		case 0 => {"first"}
		case 1 => {"second"}
		case 2 => {"third"}
		case _ => {"last"}
	}}
	
}

@isSaved() = @{
	false
}

@isMyRecipe() = @{
	false
}

@main("recipe-book") {

<body>

	<!-- MAIN -->
	<div id="main_recipe">
		
		
		<div class="row-fluid">
			<div class="span12 navbar-fixed-top slider-container">
				<!-- slider -->
				<div class="center-in-span main-content-width">
					<div class="flexslider">
						<ul class="slides">
							@for(photo <- recipe.photos){
								@if(photo.metadata.typeOf == "slider") {
									<li>
										<img class="slider-picture" src="@photo.getFullUrl" alt="alt text" />
									</li>	
								}
							}
						</ul>
					</div>
				</div>
				<!-- ENDS slider -->
			</div>
		</div>
		
		
		<div class="row-fluid next-to-fixed">
			<div class="span12">
				<div class="center-in-span main-content-width recipe-item-padding">
					<form action="@routes.RecipeController.search()" method="post">
						<a class="search" data="level" data-value="@recipe.level" href="#"><span>@recipe.level&nbsp;</span></a>
						@for(tag <- recipe.tags) {
							<a class="search" data="categories[0]" data-value="@tag" href="#"><span>@tag&nbsp;</span></a>
						}
					</form>
				</div>	
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span12">
				<div class="center-in-span main-content-width recipe-item-background recipe-item-padding">
					<div class="row-fluid">
						<div class="span6">
							<h3 class="heading" style="margin-top: 0">@recipe.name</h3>
						</div>
						<div class="span6 margin-top-10">
							<div class="row-fluid">
								<div class="span10">
									<p style="text-align: right;"><strong>Posted By </strong> @recipe.by</p>
									<p style="text-align: right">@org.joda.time.format.DateTimeFormat.forPattern("dd-MMMM-YYYY").print(recipe.created)</p>
								</div>
								<div class="span2">
									<img style="margin-left: 10px" class="float-right" src="@routes.Assets.at("img/user-profile-picture.png")" alt="user profile photo">
								</div>
							</div>
						</div>
					</div>
					<div class="row-fluid">	
						<div class="span6 rate-trigger">
							
							<img class="rated-image rated-image-style" src="@routes.Assets.at("img/rating/"+recipe.rating+".png")" alt="rating">
							
							@for(i <- 1 to 5) {
								<!--@@if(i!=recipe.rating) {-->
									<span class="rate-it-image" style="background-color: #ddd;padding: 10px 5px;margin: 0px -2px;display: none">
										<a class="rate-it-link-style" href="@routes.Application.signup()">
											<img class="rate-it-image-style" src="@routes.Assets.at("img/rating/"+i+".png")" alt="rating @i">
										</a>
									</span>
								<!--}-->
							}
							<a href="@routes.Application.signup()" style="margin-left: 5px">Reviews</a>
						</div>
						<div class="span6">
							<!-- social bar -->
							<div id="social-bar-container" class="float-right">
								<ul id="social-bar-right" class="cf sb">
									@views.html.social_bar()
								</ul>
							</div>
							<!-- end of social bar -->
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row-fluid margin-top-10">
			<div class="span12">
				<div class="center-in-span main-content-width recipe-item-padding">
					<div class="row-fluid">
						<div class="span2">
							<p><strong><i>Recipe yield</i></strong> @recipe.recipeYield </p>
						</div>
						<div class="span2">
							<p style="text-align: center"><strong><i>Ready In </i></strong> @recipe.readyIn </p> 	
						</div>
						<div class="span3">
							<p><strong><i>Preparation Time </i></strong> @recipe.prepTime </p> 	
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span12">
				<div class="center-in-span main-content-width recipe-item-background recipe-item-padding">
						<!-- Ingredients -->
						<h3>Ingredients</h3>
						<div class="row-fluid">
							@for(i <- 0 to recipe.phases.length - 1) {
								<div class="span4">
									<h4>Phase @{i+1}: @recipe.phases(i).description</h4>
									@for(ing <- recipe.phases(i).ingredients) {
										<div>@ing</div>
									}
								</div>
							}
						</div>
						<!-- End of Ingredients -->
				</div>	
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span12">
				<div class="center-in-span main-content-width recipe-item-background recipe-item-padding" style="padding-top: 25px">
						<!-- Directions -->
						<h3>Directions</h3>
						<div class="row-fluid">
							<div class="span12 directions">
								@Html(recipe.directions)
							</div>
						</div>
						<!-- End of Directions -->
				</div>	
			</div>
		</div>

	</div>
	<!-- ENDS MAIN -->
</body>
<script>

	var tries = 0;

	function setMargins() {
		var secondFixedHeight = $(".slider-picture").first().height();
		var height = $(".navbar-fixed-top:eq(0)").height();
	  	var margin = height+8;
	  	var secondFixed = $(".navbar-fixed-top:eq(1)");
	  	console.log(secondFixedHeight);
	  	if($(".navbar-fixed-top:eq(0)").css('position')=='fixed') {
			$(secondFixed).css("margin-top",""+margin+"px");
			
			if((tries>3)&&(secondFixedHeight == 0)) {
				secondFixedHeight = 364;
			}
		  	if(secondFixedHeight==0) {
		  		tries = tries + 1;
		 		$(".next-to-fixed").css("margin-top",""+(margin+364+15)+"px");//explorer is so slow
		  		setTimeout(setMargins, 1000);
		  		return;
		  	}
	    	$(".next-to-fixed").css("margin-top",""+(margin+secondFixedHeight+15)+"px");
		} else {
			$(secondFixed).css("margin-top","10px");
	    	$(".next-to-fixed").css("margin-top","10px");
		}
	}

	$(function() {
		 $('.flexslider').flexslider({
    		animation: "slide",
    		start: function() {
            	setMargins();
        	}
  		});
  		$(window).resize(function() {
		 	if($(".menu-inner > ul > li.search-dropdown").hasClass('open')) {
		 		$(".menu-inner > ul > li.search-dropdown > a").click();
		 	}
		 	setMargins();
		});
		$(".rate-trigger").hover(function(){
				$('.rate-it-image').css('display', '');
				$('.rated-image').addClass('rated-image-on-hover');
			},function(){
				$('.rate-it-image').css('display', 'none');
				$('.rated-image').removeClass('rated-image-on-hover');
			});
			
		$('a.search').click(function() {
			var form = $(this).closest('form');
			var query = $(this).attr('data')+'='+$(this).attr('data-value');
			$(form).attr('action', $(form).attr('action')+'?'+query);
			$(form).submit();
			return false;	
		});
	});
</script>
}