
<!-- Banner Start -->
			
<div class="banner banner-blog padd next-to-header hidden-xs hidden-sm">
	<div class="container">
		<!-- Image -->
		<img class="img-responsive" src="img/crown-white.png" alt="" />
		<!-- Heading -->
		<h2 class="white">Blog</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#blog">Blog</a></li>
		</ol>
		<div class="clearfix"></div>
	</div>
</div>

<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

<!-- Page Wrapper -->
<div class="wrapper">

<!-- Inner Content -->
<div class="inner-page padd">

	<!-- Blog Start -->
		
	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<!-- The new post done by user's all in the post block -->
					<div class="blog-post" id="blogentries-container">
						
						<!-- Pagination -->
						<!--ul class="pagination">
							<li class="disabled"><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul-->
						<!-- Pagination end-->
					</div>
				</div> <!--/ Main blog column end -->
				<div class="col-md-4">
					<!-- Blog page sidebar -->
					<div class="blog-sidebar">
						<div class="row">
							<div class="col-md-12 col-sm-6">
								<!-- Blog sidebar page widget -->
								<div class="sidebar-widget">
									<!-- Widget Heading -->
									<h4>Search</h4>
									<!-- search button and input box -->
									<form role="form" class="form-inline">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Type to search">
											<span class="input-group-btn">
												<button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
											</span>
										</div>
									</form><!--/ Form end -->
								</div><!--/ Widget end -->
							</div>
							<div class="col-md-12 col-sm-6">
								<!-- Blog sidebar page widget -->
								<div class="sidebar-widget">
									<!-- Widget Heading -->
									<h4>Recent Post</h4>
									<!-- Recent post list -->
									<div id="recent-blog-entries"></div>
								</div><!--/ Widget end -->
							</div>
							<div class="col-md-12 col-sm-6">
								<!-- Blog sidebar page widget -->
								<div class="sidebar-widget">
									<!-- Widget Heading -->
									<h4>Tags</h4>
									<%_.each(tags, function(tag){%>
										<a href="#blog/tag/<%= tag%>" class="btn btn-default btn-sm"><%= tag%></a>
									<%})%>
								</div><!--/ Widget end -->
							</div>
							<div class="col-md-12 col-sm-6">
								<!-- Blog sidebar page widget -->
								<div class="sidebar-widget">
									<!-- Widget Heading -->
									<h4>Our App</h4>
									<!-- Paragraph -->
									<p>Coming soon, an app that tells you natural alternatives to a skin care product, all with the touch of a button!</p>
									<a href="#" class="btn btn-danger pull-left">Read more</a>
									<div class="clearfix" />
								</div><!--/ Widget end -->
							</div>
						</div><!--/ Inner row end -->
					</div><!--/ Page sidebar end -->
				</div>
			</div><!--/ Row end -->
		</div>
	</div>
	
	<!-- Blog End -->

	<!-- Showcase Start -->
	
	<div class="showcase">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<!-- Showcase section item -->
					<div class="showcase-item">
						<!-- Image -->
						<img class="img-responsive" src="img/fruit2.png" alt="" />
						<!-- Heading -->
						<h3><a href="#">Our mission</a></h3>
						<!-- Paragraph -->
						<p>We are dedicated to helping the world discover and share the craft of do-it-yourself, natural beauty.</p>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<!-- Showcase section item -->
					<div class="showcase-item">
						<!-- Image -->
						<img class="img-responsive" src="img/fruit3.png" alt="" />
						<!-- Heading -->
						<h3><a href="#">Our App</a></h3>
						<!-- Paragraph -->
						<p>Coming soon, an app that tells you natural alternatives to a skin care product, all with the touch of a button!</p>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Showcase End -->
	
</div><!-- / Inner Page Content End -->	

</div><!-- / Wrapper End -->


<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
