
<!-- Banner Start -->

<div class="banner banner-homepage next-to-header padd hidden-xs hidden-sm">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h2>Get beautiful,</h2>
			<h1>naturally</h1>
			<h3>One Becipe at a time</h3>
			<div class="start"><a href="#user/signup">Start today</a></div>
			</div>
		</div>
	</div>
</div>
<div class="container-full">
	<div class="color-rail hidden-xs hidden-sm">
		<div class="br-grey"></div>
		<div class="br-orange"></div>
		<div class="br-dark-orange"></div>
		<div class="br-green"></div>
		<div class="br-dark-green"></div>
	</div>
</div>
<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

<!-- Main Content -->
<div class="main-content home">

	<div class="mission padd">
		<div class="container">
			<!-- Default Heading -->
			<div class="default-heading">
				<!-- Crown image -->
				<!--div style="height: 40px;width: 100%"></div-->
				<!-- Heading -->
				<h2>What we actually do?</h2>
				<!-- Paragraph -->
				<p>We help the world discover and share the craft of do-it-yourself, natural beauty.</p>
				
			</div>
			
			<div class="button"> <a class="btn btn-danger lg hidden-xs hidden-sm" href="#about-us">Read long version</a></div>
			<div class="button"> <a class="btn btn-danger sm visible-xs visible-sm" href="#about-us">Read More</a></div>
		</div>		
	</div>
	
	<!-- Dishes Start -->
		
	<div class="dishes padd" style="background-color: #ECF0F1;">
	
			<div class="container" style="background-color: #ECF0F1;">
				<!-- Default Heading -->
				<div class="default-heading">
					<!-- Crown image -->
					<!--div style="height: 40px;width: 100%"></div-->
					<!-- Heading -->
					<h2>New Becipes</h2>
					<!-- Paragraph -->
					<p>Freshest ideas yet from our community. Mix them up!</p>
					<!-- Border -->
					<div class="border"></div>
				</div>
				<div id="new-recipes"></div>
			</div>	

		
		
	</div>
	
	<!-- Dishes End -->
	
	<!-- menu Start -->
	
	<div class="menu padd">
		<div class="container">
			<!-- Default Heading -->
			<div class="default-heading">
				<!-- Crown image -->
				<!--div style="height: 40px;width: 100%"></div-->
				<!-- Heading -->
				<h2>Challenges</h2>
				<!-- Paragraph -->
				<p>Make yourself all natural with one of our challenges.</p>
				<!-- Border -->
				<div class="border"></div>
			</div>
			<!-- Menu content container -->
			<div class="menu-container">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<!-- Menu header -->
						<div class="menu-head ch-item" style="background-image:url(./img/challenge/challenge1.jpg);">
							<!-- Menu title / Heading -->
							<h3>A local store spa</h3>
							<!-- Border for above heading -->
							<div class="title-border br-green"></div>
								<!-- Menu item details -->
							<div class="menu-details">
								<!-- Menu list -->
								<ul class="list-unstyled">
									<li>
										<div class="menu-list-item">
											<!-- Icon -->
											<i class="fa fa-angle-right"></i> <span>Body Spa:</span> 
											<!-- Price badge -->
											<span class="pull-right">body scrub, hair mask...</span>
											<div class="clearfix"></div>
										</div>
									</li>
									<li>
										<div class="menu-list-item">
											<!-- Icon -->
											<i class="fa fa-angle-right"></i> <span>Beauty Spa:</span>
											<!-- Price badge -->
											<span class="pull-right">facial steam, neck oil...</span>
											<div class="clearfix"></div>
										</div>
									</li>
									<li>
										<div class="menu-list-item">
											<!-- Icon -->
											<i class="fa fa-angle-right"></i> <span>Feet Spa:</span>
											<!-- Price badge -->
											<span class="pull-right">bath soak, foot mask...</span>
											<div class="clearfix"></div>
										</div>
									</li>
									<li>
										<div class="menu-list-item">
											<!-- Icon -->
											<i class="fa fa-angle-right"></i> <span>Hands Spa:</span>
											<!-- Price badge -->
											<span class="pull-right">hand scrub, cuticle oil...</span>
											<div class="clearfix"></div>
										</div>
									</li>
								</ul>
							</div><!-- / Menu details end -->
							<div class="button"> <a class="btn lg" href="#comingsoon/challenge-1">Sign up</a></div>
						</div>
					</div>
					
					<div class="col-md-6 col-sm-12">
						<!-- Menu header -->
						<div class="menu-head ch-item" style="background-image:url(./img/challenge/challenge2.jpg);">
							<!-- Menu title / Heading -->
							<h3>Simple balms and batters</h3>
							<!-- Border for above heading -->
							<div class="title-border br-red"></div>
								<!-- Menu item details -->
							<div class="menu-details">
								<!-- Menu list -->
								<ul class="list-unstyled">
									<li>
										<div class="menu-list-item">
											<!-- Icon -->
											<i class="fa fa-angle-right"></i> <span>Balms:</span> 
											<!-- Price badge -->
											<span class="pull-right">lip / perfume</span>
											<div class="clearfix"></div>
										</div>
									</li>
									<li>
										<div class="menu-list-item">
											<!-- Icon -->
											<i class="fa fa-angle-right"></i> <span>Massage:</span> 
											<!-- Price badge -->
											<span class="pull-right">bar / candle</span> 
											<div class="clearfix"></div>
										</div>
									</li>
									<li>
										<div class="menu-list-item">
											<!-- Icon -->
											<i class="fa fa-angle-right"></i> <span>Body:</span> 
											<!-- Price badge -->
											<span class="pull-right"> butter / whipped cream</span>
											<div class="clearfix"></div>
										</div>
									</li>
									<li>
										<div class="menu-list-item">
											<!-- Icon -->
											<i class="fa fa-angle-right"></i> <span>Facial:</span> 
											<!-- Price badge -->
											<span class="pull-right">face, neck cream...</span>
											<div class="clearfix"></div>
										</div>
									</li>
								</ul>
							</div><!-- / Menu details end -->
							<div class="button"> <a class="btn lg" href="#comingsoon/challenge-2">Sign up</a></div>
						</div>
					</div>
					
				</div>
			</div> <!-- /Menu container end -->
		</div>
	</div>
	
	<!-- Menu End -->
	
	<!-- Pricing Start -->
	
	<div class="pricing padd" style="background-color: rgba(229, 160, 75, 0.1)">
		<div class="container">
			<!-- Default Heading -->
			<div class="default-heading">
				<!-- Crown image -->
				<!--div style="height: 40px;width: 100%"></div-->
				<!-- Heading -->
				<h2>Trending</h2>
				<!-- Paragraph -->
				<p>Here's what's popular in Becipe shop right now.</p>
				<!-- Border -->
				<div class="border"></div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<!-- Pricing list Item -->
					
					<div class="pricing-item">
						<div class="ch-item" style="background-image:url(../img/shop/hemp.jpg);">
							<div class="ch-info">
								<h3>Hemp Body Mitt</h3>
								<p>100% hemp made, this invigorating mitt is very popular among...<a href="#comingsoon/shop">VIEW</a></p>
							</div>
						</div>
					</div>
					
					
				</div>
				<!--div class="col-md-6 col-sm-6">
					
					<div class="pricing-item">
						<div class="ch-item" style="background-image:url(../img/shop/coming_soon.jpg);">
							
						</div>
					</div>
				</div>
				<div class="clearfix visible-md"></div>
				<div class="col-md-6 col-sm-6">
					
					<div class="pricing-item">
						<div class="ch-item" style="background-image:url(../img/shop/coming_soon.jpg);">
							
						</div>
					</div>
				</div-->
				<div class="col-md-6 col-sm-6">
					<!-- Pricing list Item -->
					<div class="pricing-item">
						<div class="ch-item" style="background-image:url(../img/shop/soap.jpg);">
							<div class="ch-info">
								<h3>Lavender Soap</h3>
								<p>100% natural, lacender soap covered with...<a href="#comingsoon/shop">VIEW</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Pricing End -->
	
	<!-- Chefs Start -->
	
	<div class="chefs padd">
		<div class="container">
			<!-- Default Heading -->
			<div class="default-heading">
				<!-- Crown image -->
				<!--div style="height: 40px;width: 100%"></div-->
				<!-- Heading -->
				<h2>Our Makers</h2>
				<!-- Paragraph -->
				<p>Be a part! Get green tips or give out yours.</p>
				<!-- Border -->
				<div class="border"></div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<!-- Chef Member -->
					<div class="chefs-member ch-item" style="background-image:url(../img/chef/c-back2.jpg);">
						<!-- Chefs member header -->
						<div class="chefs-head">
							<!-- chef member image -->
							<img class="chefs-img img-responsive" src="../img/chef/4.jpg" alt="" />
						</div>
						<!--Name / Heading -->
						<h3><a href="#comingsoon/userprofile">Venison Gorky</a></h3>
						<!-- Member designation -->
						<span style="visibility: hidden">Maker</span>
						<!-- Social media links -->	 	
						<div class="social-section">
							<ul class="social-icons list-inline delayp4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>  
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>                  
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<!-- Chef Member -->
					<div class="chefs-member ch-item" style="background-image:url(../img/chef/c-back1.jpg);">
						<!-- Chefs member header -->
						<div class="chefs-head">
							<!-- chef member image -->
							<img class="chefs-img img-responsive" src="../img/chef/7.jpg" alt="" />
						</div>
						<!--Name / Heading -->
						<h3><a href="#comingsoon/userprofile">Natasha Danda</a></h3>
						<!-- Member designation -->
						<span style="visibility: hidden">Maker</span>
						<!-- Social media links -->	 	
						<div class="social-section">
							<ul class="social-icons list-inline delayp4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>  
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>                  
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<!-- Chef Member -->
					<div class="chefs-member ch-item" style="background-image:url(../img/chef/c-back3.jpg);">
						<!-- Chefs member header -->
						<div class="chefs-head">
							<!-- chef member image -->
							<img class="chefs-img img-responsive" src="../img/chef/2.jpg" alt="" />
						</div>
						<!--Name / Heading -->
						<h3><a href="#comingsoon/userprofile">Stephanie Shechtman</a></h3>
						<!-- Member designation -->
						<span style="visibility: hidden">Maker</span>
						<!-- Social media links -->	 	
						<div class="social-section">
							<ul class="social-icons list-inline delayp4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>  
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>                  
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Chefs End -->
	
</div>


<!--div class="testimonial padd">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-wrapper">
						<div class="hexa-row">
							
							<div class="hexagon hexagon-lg" style="background-image:url(../img/chef/c-back3.jpg);background-size: cover;"></div>
							
						</div>
						<div class="hexa-row" style="margin-top: -90px">
							<div class="hexagon hexagon-lg"><a href="#"></a></div>
							<div class="hexagon hexagon-lg" style="margin-left: -43px"><a href="#"></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div-->