
<!-- Banner Start -->

<div class="banner banner-homepage next-to-header padd hidden-xs hidden-sm"></div>
<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

<!-- Main Content -->
<div class="main-content">

	<!-- Showcase Start -->
	
	<div class="showcase">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<!-- Showcase section item -->
					<div class="showcase-item">
						<!-- Image -->
						<img class="img-responsive" src="../img/fruit2.png" alt="" />
						<!-- Heading -->
						<h3><a href="#">Our mission</a></h3>
						<!-- Paragraph -->
						<p>We are dedicated to helping the world discover and share the craft of do-it-yourself, natural beauty.</p>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<!-- Showcase section item -->
					<div class="showcase-item">
						<!-- Image -->
						<img class="img-responsive" src="../img/fruit3.png" alt="" />
						<!-- Heading -->
						<h3><a href="#">Our app</a></h3>
						<!-- Paragraph -->
						<p>Coming soon, an app that tells you natural alternatives to a skin care product, all with the touch of a button!</p>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Showcase End -->
	
	<!-- Dishes Start -->
		
	<div class="dishes padd">
		<div class="container">
			<!-- Default Heading -->
			<div class="default-heading">
				<!-- Crown image -->
				<img class="img-responsive" src="../img/crown.png" alt="" />
				<!-- Heading -->
				<h2>New Becipes</h2>
				<!-- Paragraph -->
				<p>Some of the freshest ideas yet from our community. Try mixing some of these new becipes into your daily routine today.</p>
				<!-- Border -->
				<div class="border"></div>
			</div>
			<div id="new-recipes"></div>
		</div>					
	</div>
	
	<!-- Dishes End -->
	
	<!-- menu Start -->
	
	<div class="menu padd">
		<div class="container">
			<!-- Default Heading -->
			<div class="default-heading">
				<!-- Crown image -->
				<img class="img-responsive" src="../img/crown.png" alt="" />
				<!-- Heading -->
				<h2>Challenges</h2>
				<!-- Paragraph -->
				<p>Take one of our challenges and make your beauty routine all natural in as little as three days.</p>
				<!-- Border -->
				<div class="border"></div>
			</div>
			<!-- Menu content container -->
			<div class="menu-container">
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<!-- Menu header -->
						<div class="menu-head">
							<!-- Image for menu item -->
							<img class="menu-img img-responsive img-thumbnail" src="../img/challenge/challenge1.jpg" alt="" />
							<!-- Menu title / Heading -->
							<h3>3 Days</h3>
							<!-- Border for above heading -->
							<div class="title-border br-red"></div>
						</div>
						<!-- Menu item details -->
						<div class="menu-details br-red">
							<!-- Menu list -->
							<ul class="list-unstyled">
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Prep Time</a> 
										<!-- Price badge -->
										<span class="pull-right">30min</span>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Ingredients</a>
										<!-- Price badge -->
										<span class="pull-right">Kitchen</span>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Cost</a>
										<!-- Price badge -->
										<span class="pull-right">$5</span>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Effect</a>
										<!-- Price badge -->
										<span class="pull-right">Short Term</span>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Total Time</a>
										<!-- Price badge -->
										<span class="pull-right">1.5h</span>
										<div class="clearfix"></div>
									</div>
								</li>
							</ul>
						</div><!-- / Menu details end -->
					</div>
					<div class="col-md-4 col-sm-4">
						<!-- Menu header -->
						<div class="menu-head">
							<!-- Image for menu item -->
							<img class="menu-img img-responsive img-thumbnail" src="../img/challenge/challenge2.jpg" alt="" />
							<!-- Menu title / Heading -->
							<h3>7 Days</h3>
							<!-- Border for above heading -->
							<div class="title-border br-green"></div>
						</div>
						<!-- Menu item details -->
						<div class="menu-details br-green">
							<!-- Menu list -->
							<ul class="list-unstyled">
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Prep Time</a> 
										<!-- Price badge -->
										<span class="pull-right">30min</span>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Ingredients</a>
										<!-- Price badge -->
										<span class="pull-right">Kitchen</span>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Cost</a>
										<!-- Price badge -->
										<span class="pull-right">$5</span>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Effect</a>
										<!-- Price badge -->
										<span class="pull-right">Short Term</span>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Total Time</a>
										<!-- Price badge -->
										<span class="pull-right">1.5h</span>
										<div class="clearfix"></div>
									</div>
								</li>
							</ul>
						</div><!-- / Menu details end -->
					</div>
					<div class="col-md-4 col-sm-4">
						<!-- Menu header -->
						<div class="menu-head">
							<!-- Image for menu item -->
							<img class="menu-img img-responsive img-thumbnail" src="../img/challenge/challenge3.jpg" alt="" />
							<!-- Menu title / Heading -->
							<h3>14 Days</h3>
							<!-- Border for above heading -->
							<div class="title-border br-orange"></div>
						</div>
						<!-- Menu item details -->
						<div class="menu-details br-orange">
							<!-- Menu list -->
							<ul class="list-unstyled">
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Prep Time</a> 
										<!-- Price badge -->
										<span class="pull-right">30min</span>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Ingredients</a>
										<!-- Price badge -->
										<span class="pull-right">Kitchen</span>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Cost</a>
										<!-- Price badge -->
										<span class="pull-right">$5</span>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Effect</a>
										<!-- Price badge -->
										<span class="pull-right">Short Term</span>
										<div class="clearfix"></div>
									</div>
								</li>
								<li>
									<div class="menu-list-item">
										<!-- Icon -->
										<i class="fa fa-angle-right"></i> <a href="#">Total Time</a>
										<!-- Price badge -->
										<span class="pull-right">1.5h</span>
										<div class="clearfix"></div>
									</div>
								</li>
							</ul>
						</div><!-- / Menu details end -->
					</div>
				</div>
			</div> <!-- /Menu container end -->
		</div>
	</div>
	
	<!-- Menu End -->
	
	<!-- Pricing Start -->
	
	<div class="pricing padd">
		<div class="container">
			<!-- Default Heading -->
			<div class="default-heading">
				<!-- Crown image -->
				<img class="img-responsive" src="../img/crown.png" alt="" />
				<!-- Heading -->
				<h2>Trending</h2>
				<!-- Paragraph -->
				<p>Here's what's popular in Becipe shop right now.</p>
				<!-- Border -->
				<div class="border"></div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<!-- Pricing list Item -->
					<div class="pricing-item">
						<!-- Image -->
						<a href="#"><img class="img-responsive img-thumbnail" src="../img/coming_soon.jpg" alt="" /></a>
						<!-- Pricing item details -->
						<div class="pricing-item-details">
							<!-- Heading -->
							<h3><a href="#">Tools</a></h3>
							<!-- Paragraph -->
							<p>Carefully selected and fully onsite tested, those tools will become your second best friend...</p>
							<!-- Buy link -->
							<a class="btn btn-danger pull-right" href="#shop-more">More</a>
							<div class="clearfix"></div>
						</div>
						<!-- Tag -->
						<span class="hot-tag br-red">$</span>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<!-- Pricing list Item -->
					<div class="pricing-item">
						<!-- Image -->
						<a href="#"><img class="img-responsive img-thumbnail" src="../img/coming_soon.jpg" alt="" /></a>
						<!-- Pricing item details -->
						<div class="pricing-item-details">
							<!-- Heading -->
							<h3><a href="#">Soap molds</a></h3>
							<!-- Paragraph -->
							<p>Handmade, crafted, made of 100% locally grown wood...</p>
							<!-- Buy link -->
							<a class="btn btn-danger pull-right" href="#shop-more">More</a>
							<div class="clearfix"></div>
						</div>
						<!-- Tag -->
						<span class="hot-tag br-lblue">$</span>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix visible-md"></div>
				<div class="col-md-6 col-sm-6">
					<!-- Pricing list Item -->
					<div class="pricing-item">
						<!-- Image -->
						<a href="#"><img class="img-responsive img-thumbnail" src="../img/coming_soon.jpg" alt="" /></a>
						<!-- Pricing item details -->
						<div class="pricing-item-details">
							<!-- Heading -->
							<h3><a href="#">Toiletry</a></h3>
							<!-- Paragraph -->
							<p>All natural kabuki brushes, hemp towels, and much more...</p>
							<!-- Buy link -->
							<a class="btn btn-danger pull-right" href="#shop-more">More</a>
							<div class="clearfix"></div>
						</div>
						<!-- Tag -->
						<span class="hot-tag br-green">$</span>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<!-- Pricing list Item -->
					<div class="pricing-item">
						<!-- Image -->
						<a href="#"><img class="img-responsive img-thumbnail" src="../img/coming_soon.jpg" alt="" /></a>
						<!-- Pricing item details -->
						<div class="pricing-item-details">
							<!-- Heading -->
							<h3><a href="#">Gifts</a></h3>
							<!-- Paragraph -->
							<p>Natural, organic, fair trade; for us those are not the buzzwords...</p>
							<!-- Buy link -->
							<a class="btn btn-danger pull-right" href="#shop-more">More</a>
							<div class="clearfix"></div>
						</div>
						<!-- Tag -->
						<span class="hot-tag br-orange">$</span>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Pricing End -->
	
	<!-- Chefs Start -->
	
	<div class="chefs padd">
		<div class="container">
			<!-- Default Heading -->
			<div class="default-heading">
				<!-- Crown image -->
				<img class="img-responsive" src="../img/crown.png" alt="" />
				<!-- Heading -->
				<h2>Our Makers</h2>
				<!-- Paragraph -->
				<p>Learn from our community! Get some fresh tips and tricks from our most popular makers.</p>
				<!-- Border -->
				<div class="border"></div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<!-- Chef Member -->
					<div class="chefs-member">
						<!-- Chefs member header -->
						<div class="chefs-head">
							<!-- Member background image -->
							<img class="chefs-back img-responsive" src="../img/chef/c-back2.jpg" alt="" />
							<!-- chef member image -->
							<img class="chefs-img img-responsive" src="../img/chef/4.jpg" alt="" />
						</div>
						<!--Name / Heading -->
						<h3><a href="#">Venison Gorky</a></h3>
						<!-- Member designation -->
						<span>Chefs Incharge</span>
						<!-- Social media links -->	 	
						<div class="social-section">
							<ul class="social-icons list-inline delayp4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>  
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>                  
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<!-- Chef Member -->
					<div class="chefs-member">
						<!-- Chefs member header -->
						<div class="chefs-head">
							<!-- Member background image -->
							<img class="chefs-back img-responsive" src="../img/chef/c-back1.jpg" alt="" />
							<!-- chef member image -->
							<img class="chefs-img img-responsive" src="../img/chef/7.jpg" alt="" />
						</div>
						<!--Name / Heading -->
						<h3><a href="#">Million Carey</a></h3>
						<!-- Member designation -->
						<span>Chefs Incharge</span>
						<!-- Social media links -->
						<div class="social-section">
							<ul class="social-icons list-inline delayp4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>  
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li> 
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>								
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<!-- Chef Member -->
					<div class="chefs-member">
						<!-- Chefs member header -->
						<div class="chefs-head">
							<!-- Member background image -->
							<img class="chefs-back img-responsive" src="../img/chef/c-back3.jpg" alt="" />
							<!-- chef member image -->
							<img class="chefs-img img-responsive" src="../img/chef/2.jpg" alt="" />
						</div>
						<!--Name / Heading -->
						<h3><a href="#">Juliet Watson</a></h3>
						<!-- Member designation -->
						<span>Chefs Incharge</span>
						<!-- Social media links -->
						<div class="social-section">
							<ul class="social-icons list-inline delayp4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>  
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Chefs End -->
	
	<!-- Testimonial Start -->
	
	<div class="testimonial padd">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<!-- BLock heading -->
					<h3>Recent Posts</h3>
					<!-- Flex slider Content -->
					<div id="new-blog-entries"></div>
				</div>
				<div class="col-md-6">
					<!-- BLock heading -->
					<h3>Our Client Says</h3>
					<!-- Flex slider Content -->
					<div class="flexslider-testimonial">
						<ul class="slides">
							<li>
								<!-- Testimonial Content -->
								<div class="testimonial-item">
									<!-- Quote -->
									<span class="quote lblue">&#8220;</span> 
									<!-- Your comments -->
									<blockquote>
										<!-- Paragraph -->
										<p>Sed ut perspiciatis unde omnis iste natus error sitvolu accusative ntium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
									</blockquote>
									<!-- Heading with image -->
									<h4><img class="img-responsive img-circle" src="../img/user.jpg" alt="" /> Jhon Doe<span>, your designation</span></h4>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<!-- Testimonial Content -->
								<div class="testimonial-item">
									<!-- Quote -->
									<span class="quote lblue">&#8220;</span> 
									<!-- Your comments -->
									<blockquote>
										<!-- Paragraph -->
										<p> I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the dislikes.</p>
									</blockquote>
									<!-- Heading with image -->
									<h4><img class="img-responsive img-circle" src="../img/user.jpg" alt="" /> Marten<span>, your designation</span></h4>
									<div class="clearfix"></div>
								</div>
							</li>
							<li>
								<!-- Testimonial Content -->
								<div class="testimonial-item">
									<!-- Quote -->
									<span class="quote lblue">&#8220;</span> 
									<!-- Your comments -->
									<blockquote>
										<!-- Paragraph -->
										<p>At vero eos et accusamus et iusto odio dignis simos ducimus qui bland itiis praes entium volup tatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non laboratory.</p>
									</blockquote>
									<!-- Heading with image -->
									<h4><img class="img-responsive img-circle" src="../img/user.jpg" alt="" /> Katrina Doe<span>, your designation</span></h4>
									<div class="clearfix"></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Testimonial End -->

</div>