<div id="filter-container">

	<figure class="" style="height: auto;background: transparent !important;font-size: 18px;line-height: 25px">
		<div class="flexslider" style="height: 600px">
		  <ul class="slides">
			<li>
			  <img style="height: 600px" src="../img/tmp/slider3.png" />
			</li>
			<li>
			  <img style="height: 600px" src="../img/tmp/slider2.png" />
			</li>
			<li>
			  <img style="height: 600px" src="../img/tmp/slider.png" />
			</li>
		  </ul>
		</div>
	</figure>
	<figure class="signup-message">
		<div style="height: 300px;color: #fff;text-transform: uppercase;">
			<div style="margin-top: 20px">
				<img src="../img/signup-msg.png" />
			</div>
			<div class="action-container">
				<div class="action">
					<a class="orange" href="#signup">
						<b>Sign up</b>
					</a>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder" style="height: auto;background: #fff !important;font-size: 18px;line-height: 25px;">
		<div style="padding: 5px">
			<div style="position:relative;float:left;width:570px;height: 350px;color: #fff;">
				<img style="width: 100%;height: 100%" src="../img/tmp/1ad4da3e-216c-4df6-94ff-e121483af6ca-kuku.jpg"/>
				<!--span class="arrow_right" style="border-right-color: rgb(255, 255, 255);"></span-->
			</div>
			<div style="position:relative;float:left;width:570px;height: 50px;">
				<div style="padding: 10px">
					<div style="color: #999;font-weight: bold;font-size: 21px;text-transform: uppercase;line-height: 21px;margin-bottom: 5px">
						Cleansing paste
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure style="height: auto;background: transparent !important;font-size: 18px;line-height: 25px">
		<div style="position:relative;float:left;width:250px;height: 400px;">
			<div style="padding: 10px">
				<div style="color: #999;font-weight: bold;font-size: 21px;text-transform: uppercase;line-height: 21px;margin-bottom: 5px">
					Cleansing paste
				</div>
				
				<div style="padding-left: 7px">
					<div style="font-size: 14px;margin-bottom: 18px">
						By: 
						<span style="color: #b22e00;font-weight: bold;font-style: italic;">Katrin</span>
					</div>
					<div style="border-bottom: 1px dashed #ccc;padding-bottom: 20px;font-style: italic;">
						<p>The paste has a fresh stimulating fragrance and its beautiful, rich purple color belongs to the hibiscus flowers...</p>
					</div>
					<div style="margin-top: 20px">
						Prep time: <span style="font-style: italic">30 min</span>
					</div>
					<div style="margin-top: 20px;">
						Rating: <span style="color: #b22e00;font-style: italic">4.5</span>
					</div>
					<div style="margin-top: 20px;">
						<span style="color: #b22e00;font-style: italic">6</span> comments
					</div>
				</div>
			</div>
		</div>
		<div style="position:relative;float:left;width:320px;height: 400px;color: #fff;">
			<img style="width: 100%;height: 100%" src="../img/tmp/IMG_3044.JPG"/>
			<!--span class="arrow_right" style="border-right-color: rgb(255, 255, 255);"></span-->
		</div>
	</figure>
	<figure class="create-recipe">
		<a href="#create-recipe"><div>Create a recipe</div></a>
	</figure>
	<figure class="about-us">
			<div>About Us</div>
	</figure>
	<figure style="height: auto;background: transparent !important;font-size: 18px;line-height: 25px">
		<div style="position:relative;float:left;width:580px;height: 300px;color: #fff;">
			<img style="width: 100%;height: 100%" src="../img/tmp/08cd7fbe-4a0d-454d-b265-b0afff971fbc.jpg"/>
			<!--span class="arrow_right" style="border-right-color: rgb(255, 255, 255);"></span-->
		</div>
		<div style="position:relative;float:left;width:580px;height: 200px;">
			<div style="padding: 10px">
				<div style="color: #999;font-weight: bold;font-size: 21px;text-transform: uppercase;line-height: 21px;margin-bottom: 5px">
					Cleansing paste
				</div>
				
				<div style="padding-left: 7px;display:none">
					<div style="font-size: 14px;margin-bottom: 18px">
						By: 
						<span style="color: #b22e00;font-weight: bold;font-style: italic;">Katrin</span>
					</div>
					<div style="border-bottom: 1px dashed #ccc;padding-bottom: 20px;font-style: italic;">
						<p>The paste has a fresh stimulating fragrance and its beautiful, rich purple color belongs to the hibiscus flowers...</p>
					</div>
					<div style="margin-top: 20px">
						Prep time: <span style="font-style: italic">30 min</span>
					</div>
					<div style="margin-top: 20px;">
						Rating: <span style="color: #b22e00;font-style: italic">4.5</span>
					</div>
					<div style="margin-top: 20px;">
						<span style="color: #b22e00;font-style: italic">6</span> comments
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure style="height: auto;background: transparent !important;font-size: 18px;line-height: 25px">
		<div style="position:relative;float:left;width:250px;height: 400px;">
			<div style="padding: 10px">
				<div style="color: #999;font-weight: bold;font-size: 21px;text-transform: uppercase;line-height: 21px;margin-bottom: 5px">
					Cleansing paste
				</div>
				
				<div style="padding-left: 7px">
					<div style="font-size: 14px;margin-bottom: 18px">
						By: 
						<span style="color: #b22e00;font-weight: bold;font-style: italic;">Katrin</span>
					</div>
					<div style="border-bottom: 1px dashed #ccc;padding-bottom: 20px;font-style: italic;">
						<p>The paste has a fresh stimulating fragrance and its beautiful, rich purple color belongs to the hibiscus flowers...</p>
					</div>
					<div style="margin-top: 20px">
						Prep time: <span style="font-style: italic">30 min</span>
					</div>
					<div style="margin-top: 20px;">
						Rating: <span style="color: #b22e00;font-style: italic">4.5</span>
					</div>
					<div style="margin-top: 20px;">
						<span style="color: #b22e00;font-style: italic">6</span> comments
					</div>
				</div>
			</div>
		</div>
		<div style="position:relative;float:left;width:320px;height: 400px;color: #fff;">
			<img style="width: 100%;height: 100%" src="../img/tmp/0ef2fdc9-1815-4ede-803c-89d0cc304669.jpg"/>
			<!--span class="arrow_right" style="border-right-color: rgb(255, 255, 255);"></span-->
		</div>
	</figure>
				<figure style="height: auto;background: transparent !important;font-size: 18px;line-height: 25px">
		<div style="position:relative;float:left;width:320px;height: 400px;color: #fff;">
			<img style="width: 100%;height: 100%" src="../img/tmp/IMG_2438.JPG"/>
			<!--span class="arrow_right" style="border-right-color: rgb(255, 255, 255);"></span-->
		</div>
		<div style="position:relative;float:left;width:250px;height: 400px;">
			<div style="padding: 10px">
				<div style="color: #999;font-weight: bold;font-size: 21px;text-transform: uppercase;line-height: 21px;margin-bottom: 5px">
					Cleansing paste
				</div>
				
				<div style="padding-left: 7px">
					<div style="font-size: 14px;margin-bottom: 18px">
						By: 
						<span style="color: #b22e00;font-weight: bold;font-style: italic;">Katrin</span>
					</div>
					<div style="border-bottom: 1px dashed #ccc;padding-bottom: 20px;font-style: italic;">
						<p>The paste has a fresh stimulating fragrance and its beautiful, rich purple color belongs to the hibiscus flowers...</p>
					</div>
					<div style="margin-top: 20px">
						Prep time: <span style="font-style: italic">30 min</span>
					</div>
					<div style="margin-top: 20px;">
						Rating: <span style="color: #b22e00;font-style: italic">4.5</span>
					</div>
					<div style="margin-top: 20px;">
						<span style="color: #b22e00;font-style: italic">6</span> comments
					</div>
				</div>
			</div>
		</div>
	</figure>
				<figure style="height: auto;background: transparent !important;font-size: 18px;line-height: 25px">
		<div style="position:relative;float:left;width:320px;height: 400px;color: #fff;">
			<img style="width: 100%;height: 100%" src="../img/tmp/12356747-4b5b-47e5-b304-6d66d4aaba91.jpg"/>
			<!--span class="arrow_right" style="border-right-color: rgb(255, 255, 255);"></span-->
		</div>
		<div style="position:relative;float:left;width:250px;height: 400px;">
			<div style="padding: 10px">
				<div style="color: #999;font-weight: bold;font-size: 21px;text-transform: uppercase;line-height: 21px;margin-bottom: 5px">
					Cleansing paste
				</div>
				
				<div style="padding-left: 7px">
					<div style="font-size: 14px;margin-bottom: 18px">
						By: 
						<span style="color: #b22e00;font-weight: bold;font-style: italic;">Katrin</span>
					</div>
					<div style="border-bottom: 1px dashed #ccc;padding-bottom: 20px;font-style: italic;">
						<p>The paste has a fresh stimulating fragrance and its beautiful, rich purple color belongs to the hibiscus flowers...</p>
					</div>
					<div style="margin-top: 20px">
						Prep time: <span style="font-style: italic">30 min</span>
					</div>
					<div style="margin-top: 20px;">
						Rating: <span style="color: #b22e00;font-style: italic">4.5</span>
					</div>
					<div style="margin-top: 20px;">
						<span style="color: #b22e00;font-style: italic">6</span> comments
					</div>
				</div>
			</div>
		</div>
	</figure>
				<figure style="height: auto;background: transparent !important;font-size: 18px;line-height: 25px">
		<div style="position:relative;float:left;width:320px;height: 400px;color: #fff;">
			<img style="width: 100%;height: 100%" src="../img/tmp/12bc0042-252f-4324-ac68-23ddeef826d1.jpg"/>
			<!--span class="arrow_right" style="border-right-color: rgb(255, 255, 255);"></span-->
		</div>
		<div style="position:relative;float:left;width:250px;height: 400px;">
			<div style="padding: 10px">
				<div style="color: #999;font-weight: bold;font-size: 21px;text-transform: uppercase;line-height: 21px;margin-bottom: 5px">
					Cleansing paste
				</div>
				
				<div style="padding-left: 7px">
					<div style="font-size: 14px;margin-bottom: 18px">
						By: 
						<span style="color: #b22e00;font-weight: bold;font-style: italic;">Katrin</span>
					</div>
					<div style="border-bottom: 1px dashed #ccc;padding-bottom: 20px;font-style: italic;">
						<p>The paste has a fresh stimulating fragrance and its beautiful, rich purple color belongs to the hibiscus flowers...</p>
					</div>
					<div style="margin-top: 20px">
						Prep time: <span style="font-style: italic">30 min</span>
					</div>
					<div style="margin-top: 20px;">
						Rating: <span style="color: #b22e00;font-style: italic">4.5</span>
					</div>
					<div style="margin-top: 20px;">
						<span style="color: #b22e00;font-style: italic">6</span> comments
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure style="height: auto;background: transparent !important;font-size: 18px;line-height: 25px">
		<div style="position:relative;float:left;width:250px;height: 400px;">
			<div style="padding: 10px">
				<div style="color: #999;font-weight: bold;font-size: 21px;text-transform: uppercase;line-height: 21px;margin-bottom: 5px">
					Cleansing paste
				</div>
				
				<div style="padding-left: 7px">
					<div style="font-size: 14px;margin-bottom: 18px">
						By: 
						<span style="color: #b22e00;font-weight: bold;font-style: italic;">Katrin</span>
					</div>
					<div style="border-bottom: 1px dashed #ccc;padding-bottom: 20px;font-style: italic;">
						<p>The paste has a fresh stimulating fragrance and its beautiful, rich purple color belongs to the hibiscus flowers...</p>
					</div>
					<div style="margin-top: 20px">
						Prep time: <span style="font-style: italic">30 min</span>
					</div>
					<div style="margin-top: 20px;">
						Rating: <span style="color: #b22e00;font-style: italic">4.5</span>
					</div>
					<div style="margin-top: 20px;">
						<span style="color: #b22e00;font-style: italic">6</span> comments
					</div>
				</div>
			</div>
		</div>
		<div style="position:relative;float:left;width:320px;height: 400px;color: #fff;">
			<img style="width: 100%;height: 100%" src="../img/tmp/ea6bc4ea-666f-455f-97e1-26785fb3dabc.jpg"/>
			<!--span class="arrow_right" style="border-right-color: rgb(255, 255, 255);"></span-->
		</div>
	</figure>
</div>