<div id="filter-container">

	<figure class="slider" style="background: transparent !important;">
		<div class="flexslider" style="height: 600px">
		  <ul class="slides">
			<li>
			  <img style="height: 600px" src="../img/slider.png" />
			</li>
			<li>
			  <img style="height: 600px" src="../img/slider2.png" />
			</li>
			<li>
			  <img style="height: 600px" src="../img/slider3.png" />
			</li>
		  </ul>
		</div>
	</figure>
	<figure class="signup-message">
		<div style="height: 300px;color: #fff">
			<div style="margin-top: 20px">
				<img src="../img/signup-msg.png" />
			</div>
			<div class="action-container">
				<div class="action">
					<a class="green" href="#user/signup">
						<b>Sign Up</b>
					</a>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="create-recipe">
		<a href="#create-recipe"><div>Create a recipe</div></a>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="about-us">
			<a href="#about-us"><div>About Us</div></a>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
</div>