
<!-- Banner Start -->

<div class="banner banner-homepage next-to-header padd hidden-xs hidden-sm">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
			<h2>Get beautiful,</h2>
			<h1>naturally</h1>
			<h3>One Becipe at a time</h3>
			<div class="start"><a href="#user/signup">Start today</a></div>
			</div>
		</div>
	</div>
</div>
<div class="container-full hidden-xs hidden-sm">
	<div class="color-rail" id="scroll">
		<div class="br-dark-orange"></div>
		<div class="br-orange"></div>
		<div class="br-green"></div>
		<div class="br-dark-orange"></div>
		<div class="br-orange"></div>
		<div class="br-green"></div>
	</div>
	<div style="display: none;margin: 0 auto;margin-top: -60px;width: 60px;">
		<!-- circle -->
		<div style="margin-top: -30px;display: inline-block;">
			<div class="box br-green" style="border-radius: 30px 0px 0px 0px;"></div>
			<div class="box br-dark-green" style="border-radius: 0px 30px 0px 0px;"></div>
			<div class="clearfix"></div>
			<div class="box br-green" style="border-radius: 0px 0px 0px 30px;"></div>
			<div class="box br-dark-green" style="border-radius: 0px 0px 30px 0px;"></div>
		</div>
	</div>
	<div style="margin: 0 auto;margin-top: 10px;width: 30px;">
		<a href="scroll"><i class="fa fa-angle-double-down orange" style="font-size: 58px;"></i></a>
	</div>
</div>
<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

<!-- Main Content -->
<div class="home">

	<div class="mission" style="padding: 40px 0 70px;">
		<div class="container">
			<!-- Default Heading -->
			<div class="default-heading">
				<!-- Crown image -->
				<!--div style="height: 40px;width: 100%"></div-->
				<!-- Heading -->
				<h2>What we do</h2>
				<!-- Paragraph -->
				<p>We help the world discover and share the craft of do-it-yourself, natural beauty.</p>
				
			</div>
			
			<div class="button"> <a class="btn btn-danger lg hidden-xs hidden-sm" href="#about-us">Read the full story</a></div>
			<div class="button"> <a class="btn btn-danger sm visible-xs visible-sm" href="#about-us">Full story</a></div>
		</div>		
	</div>
	
	<!-- Dishes Start -->
		
	<div class="dishes padd">
	
			<div class="container">
				
					<!-- Default Heading -->
					<div class="default-heading">
						<!-- Crown image -->
						<!--div style="height: 40px;width: 100%"></div-->
						<!-- Heading -->
						<h2>New Becipes</h2>
						<!-- Paragraph -->
						<p>Freshest ideas yet from our community. Mix them up!</p>
						<!-- Border -->
						<div class="border"></div>
					</div>
					<div id="new-recipes"></div>
				
			</div>	

		
		
	</div>
	
	<!-- Dishes End -->
	
	<!-- menu Start -->
	
	<div class="menu"  style="background-image: url(../img/challenge/challenges.jpg);padding-top: 80px">
		<div class="container-full">
			<!-- Default Heading -->
			<div class="default-heading">
				<!-- Crown image -->
				<!--div style="height: 40px;width: 100%"></div-->
				<!-- Heading -->
				<h2>Make yourself all natural with one of our challenges</h2>
				<!-- Border -->
				<div class="border" style="max-width: 800px;margin: 0 auto;"></div>
			</div>
			<!-- Menu content container -->
			<div class="menu-container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
						<!-- Menu header -->
						<div class="menu-head ch-item">
						
							<div class="ch-info">
						
								<!-- Menu title / Heading -->
								<h3>A local store spa</h3>
								<p>This a 4 week challenge will get you started with natural beauty routine in the easiest way possible. 
								Whether it is body, feet or hands, nothing will go unnoticed. 
								Expect to have desire and be able to exercise what you've learnt weekly and crave to know more.</p>
							</div>	
							<div class="button"> <a class="btn btn-danger lg challenge-1" href="#comingsoon/challenge-1">Sign up</a></div>
							
						</div>
					</div>
					
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
						<!-- Menu header -->
						<div class="menu-head ch-item">
							<!-- Menu title / Heading -->
							
							<div class="ch-info">
								<!-- Menu title / Heading -->
								<h3>Simple balms and batters</h3>
								<p>You are not totally novice. 
								You either took on our beginner challenge or just practised your grandma beauty secrets all along. 
								Regardless, you still can hardly imagine how creams and butters are being, so hold on, you're gonna make them by yourself and quickly find out that it is not a rocket science.
								</p>
							</div>	
							<div class="button"> <a class="btn btn-danger lg challenge-2" href="#comingsoon/challenge-2">Sign up</a></div>
						</div>
					</div>
					
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
						<!-- Menu header -->
						<div class="menu-head ch-item">
							<!-- Menu title / Heading -->
							
							<div class="ch-info">
								<!-- Menu title / Heading -->
								<h3>Simple balms and batters</h3>
								<p>You are not totally novice. 
								You either took on our beginner challenge or just practised your grandma beauty secrets all along. 
								Regardless, you still can hardly imagine how creams and butters are being, so hold on, you're gonna make them by yourself and quickly find out that it is not a rocket science.
								</p>
							</div>	
							<div class="button"> <a class="btn btn-danger lg challenge-3" href="#comingsoon/challenge-2">Sign up</a></div>
						</div>
					</div>
					
				</div>
			</div> <!-- /Menu container end -->
		</div>
	</div>
	
	<!-- Menu End -->
	
	<!-- Pricing Start -->
	
	<div class="pricing padd">
		<div class="container">
			<!-- Default Heading -->
			<div class="default-heading">
				<!-- Crown image -->
				<!--div style="height: 40px;width: 100%"></div-->
				<!-- Heading -->
				<h2>Trending</h2>
				<!-- Paragraph -->
				<p>Here's what's popular in the Becipe shop right now.</p>
				<!-- Border -->
				<div class="border"></div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<!-- Pricing list Item -->
					
					<div class="pricing-item">
						<div class="ch-item" style="background-image:url(../img/shop/hemp.jpg);">
							<div class="ch-info">
								<h3>Hemp Body Mitt</h3>
								<p>100% hemp made, invigorating mitt is very...<a href="#comingsoon/shop">VIEW</a></p>
							</div>
						</div>
					</div>
					
					
				</div>
				<div class="col-md-6 col-sm-6">
					<!-- Pricing list Item -->
					<div class="pricing-item">
						<div class="ch-item" style="background-image:url(../img/shop/soap.jpg);">
							<div class="ch-info">
								<h3>Lavender Soap</h3>
								<p>100% natural, lavender soap covered with...<a href="#comingsoon/shop">VIEW</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<!-- Pricing list Item -->
					<div class="pricing-item">
						<div class="ch-item" style="background-image:url(../img/shop/soap3.jpg);">
							<div class="ch-info">
								<h3>Coffee Soap</h3>
								<p>Energizing smell of fresh coffee applies not only in...<a href="#comingsoon/shop">VIEW</a></p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<!-- Pricing list Item -->
					<div class="pricing-item">
						<div class="ch-item" style="background-image:url(../img/shop/soap2.jpg);">
							<div class="ch-info">
								<h3>Rose Geranium Soap</h3>
								<p>Luxury soap with reach smell, loaded with...<a href="#comingsoon/shop">VIEW</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Pricing End -->
	
	<!-- Chefs Start -->
	
	<div class="chefs padd">
		<div class="container">
			<!-- Default Heading -->
			<div class="default-heading">
				<!-- Crown image -->
				<!--div style="height: 40px;width: 100%"></div-->
				<!-- Heading -->
				<h2>Our Makers</h2>
				<!-- Paragraph -->
				<p>Be a part! Get green tips or give out yours.</p>
				<!-- Border -->
				<div class="border"></div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<!-- Chef Member -->
					<div class="chefs-member ch-item" style="background-image:url(../img/chef/c-back2.jpg);">
						<!-- Chefs member header -->
						<div class="chefs-head">
							<!-- chef member image -->
							<img class="chefs-img img-responsive" src="../img/chef/4.jpg" alt="" />
						</div>
						<!--Name / Heading -->
						<h3><a href="#comingsoon/userprofile">Venison Gorky</a></h3>
						<!-- Member designation -->
						<span style="visibility: hidden">Maker</span>
						<!-- Social media links -->	 	
						<div class="social-section">
							<ul class="social-icons list-inline delayp4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>  
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>                  
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<!-- Chef Member -->
					<div class="chefs-member ch-item" style="background-image:url(../img/chef/c-back1.jpg);">
						<!-- Chefs member header -->
						<div class="chefs-head">
							<!-- chef member image -->
							<img class="chefs-img img-responsive" src="../img/chef/7.jpg" alt="" />
						</div>
						<!--Name / Heading -->
						<h3><a href="#comingsoon/userprofile">Natasha Danda</a></h3>
						<!-- Member designation -->
						<span style="visibility: hidden">Maker</span>
						<!-- Social media links -->	 	
						<div class="social-section">
							<ul class="social-icons list-inline delayp4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>  
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>                  
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<!-- Chef Member -->
					<div class="chefs-member ch-item" style="background-image:url(../img/chef/c-back3.jpg);">
						<!-- Chefs member header -->
						<div class="chefs-head">
							<!-- chef member image -->
							<img class="chefs-img img-responsive" src="../img/chef/2.jpg" alt="" />
						</div>
						<!--Name / Heading -->
						<h3><a href="#comingsoon/userprofile">Stephanie Shechtman</a></h3>
						<!-- Member designation -->
						<span style="visibility: hidden">Maker</span>
						<!-- Social media links -->	 	
						<div class="social-section">
							<ul class="social-icons list-inline delayp4">
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>  
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>                  
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Chefs End -->
	
</div>


<!--div class="testimonial padd">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="box-wrapper">
						<div class="hexa-row">
							<div class="hexagon"><a href="#" style="background-image:url(../img/chef/c-back1.jpg);background-size: cover;"></a></div>
							<div class="hexagon move-left"><a href="#" style="background-image:url(../img/chef/c-back2.jpg);background-size: cover;"></a></div>
							<div class="hexagon move-left"><a href="#" style="background-image:url(../img/chef/c-back2.jpg);background-size: cover;"></a></div>
						</div>
						<div class="hexa-row">
							<div class="hexagon"><a href="#" style="background-image:url(../img/chef/c-back1.jpg);background-size: cover;"></a></div>
							<div class="hexagon move-left"><a href="#" style="background-image:url(../img/chef/c-back3.jpg);background-size: cover;"></a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div-->