<!-- 43 -->

<div class="site-links">
	<span title="articles" class="glyph">
		<a href="articles"><div data-icon="&#xe0ef;" class="sp" aria-hidden="true"> </div></a>
	</span>
	<span title="blog" class="glyph">
		<a href="blog"><div data-icon="&#xf15a;" class="sp" aria-hidden="true"> </div></a>
	</span>
	<span title="send us a message" class="glyph">
		<a class="md-trigger" data-modal="modal-1" href="email"><div data-icon="&#xe0bd;" class="sp" aria-hidden="true"> </div></a>
	</span>
</div>

<div class="social">

	<span title="+1 us on google+" class="glyph">
		<!--a href="gplus"--><div style="color: #d95c2b;opacity: 0.3" data-icon="&#xe18d;" class="sp" aria-hidden="true"> </div><!--/a-->
	</span>
	<span title="like us on facebook" class="glyph">
		<a href="fb"><div data-icon="&#xe18e;" class="sp" aria-hidden="true"> </div></a>
	</span>
	<span title="follow ud on twitter" class="glyph">
		<a href="tw"><div data-icon="&#xe18b;" class="sp" aria-hidden="true"> </div></a>
	</span>
	<span title="follow us on pinterest" class="glyph">
		<a href="pin"><div data-icon="&#xe18c;" class="sp" aria-hidden="true"> </div></a>
	</span>
	<span title="follow us on linkedin" class="glyph">
		<a href="in"><div data-icon="&#xe18a;" class="sp" aria-hidden="true"> </div></a>
	</span>
</div>