<div class="footer padd">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<!-- Footer widget -->
							<div class="footer-widget">
								<!-- Logo area -->
								<div class="logo">
									<!--img class="img-responsive" src="img/logo.png" alt="" /-->
									<!-- Heading -->
									<h1><a href="#">Becipe</a></h1>
								</div>
								<!-- Paragraph -->
								<p>We are dedicated to helping the world discover and share the craft of do-it-yourself, natural beauty.</p>
								<hr />
								<!-- Heading -->
								<h4>Site links</h4>
								<!-- Images -->
								<p><a href="#create-recipe">Create Becipe</a></p>
								<p><a href="#search-recipes////">Explore</a></p>
								<p><a href="#blog">Blog</a></p>
								<p><a href="#about-us">About Us</a></p>
							</div> <!--/ Footer widget end -->
						</div>
						<div class="col-md-3 col-sm-6">
							<!-- Footer widget -->
							<div class="footer-widget">
								<!-- Heading -->
								<h4>Categories</h4>
								<!-- Images -->
								<%_.each(categories, function(category){%>
									<p><a href="#search-recipes//<%= category.id%>//"><%= category.desc%></a></p>
								<%})%>
							</div> <!--/ Footer widget end -->
						</div>
						<div class="clearfix visible-sm"></div>
						<div class="col-md-3 col-sm-6">
							<!-- Footer widget -->
							<div class="footer-widget">
								<!-- Heading -->
								<h4>Join Us Today</h4>
								<!-- Paragraph -->
								<p>Subscribe to stay on top of all exiting mixins we're up to.</p>
								<!-- Subscribe form -->
								<form role="form">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Your name" />
									</div>
									<div class="form-group">
										<input class="form-control" type="email" placeholder="Your email" />
									</div>
									<button class="btn btn-danger" type="button">Subscribe</button>
								</form>
							</div> <!--/ Footer widget end -->
						</div>
						<div class="col-md-3 col-sm-6">
							<!-- Footer widget -->
							<div class="footer-widget">
								<!-- Heading -->
								<h4>Contact Us</h4>
								<div class="contact-details">
									<!-- Address / Icon -->
									<i class="fa fa-map-marker br-dark-grey"></i> <span>120 Homewood Ave<br />Unit 1905<br />Toronto M4Y 2J3, Ontario,<br /> Canada</span>
									<div class="clearfix"></div>
									<!-- Contact Number / Icon -->
									<i class="fa fa-phone br-dark-grey"></i> <span>+1647 874 9449</span>
									<div class="clearfix"></div>
									<!-- Email / Icon -->
									<i class="fa fa-envelope-o br-dark-grey"></i> <span><a href="#">info@becipe.com</a></span>
									<div class="clearfix"></div>
								</div>
								<!-- Social media icon -->
								<div class="social-section pull-left margin-top-10 social-site">
									<ul class="social-icons list-inline delayp4">
										<li><a href="tw"><i class="fa fa-twitter"></i></a></li>
										<li><a href="fb"><i class="fa fa-facebook"></i></a></li>
										 <li><a href="pin"><i class="fa fa-pinterest"></i></a></li>  
										<li><!--a href="gplus"--><a href="javascript: void(0)"><i class="fa fa-google-plus"></i></a></li> 
										<li><a href="in"><i class="fa fa-linkedin"></i></a></li>								
									</ul>
									<div class="clearfix"></div>
								</div>
							</div> <!--/ Footer widget end -->
						</div>
					</div>
					<!-- Copyright -->
					<div class="footer-copyright">
						<!-- Paragraph -->
						<p>&copy; Copyright 2014 <a href="#">Becipe</a></p>
					</div>
				</div>
			</div>
			
			<!-- Footer End -->
			