<div class="footer">		
		<div style="background-color: #fff;padding: 37px 0;">			
			<div class="container">
					
				<div style="padding: 0 50px;background-color: #fff;border: 2px solid #e5a04b">
						
					<div class="row">	
						<div class="col-md-12">
							<!-- Social media icon -->
								<div class="social-section pull-right social-site" style="margin-top: -40px;">
									<ul class="social-icons list-inline delayp4">
										<li><a href="tw"><i class="fa fa-twitter"></i></a></li>
										<li><a href="fb"><i class="fa fa-facebook"></i></a></li>
										 <li><a href="pin"><i class="fa fa-pinterest"></i></a></li>  
										<li><!--a href="gplus"--><a href="javascript: void(0)"><i class="fa fa-google-plus"></i></a></li> 
										<li><a href="in"><i class="fa fa-linkedin"></i></a></li>								
									</ul>
									<div class="clearfix"></div>
								</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6" style="border-bottom: 2px solid #e5a04b">
							<h3 style="margin-top: 0px;margin-bottom: 2px;font-family: Georgia;font-size: 28px;font-weight: bold;color: #e5a04b" class="pull-left"><a href="#" style="color: inherit">BECIPE</a>:</h3>
							<h3 style="margin-top: 0px;margin-bottom: 2px;margin-left: 40px;font-family: 'Dancing Script', cursive;" class="pull-left">
								Do-it-Yourself, Natural Beauty
							</h3>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5 col-sm-12">
							<!-- Footer widget -->
							<div class="footer-widget2">
								<!-- Heading -->
								<h2 style="font-family: Georgia;font-style: italic;font-size: 18px;color: #e5a04b;margin-top: 50px;margin-bottom: 30px;">Ingredients:</h2>
								<!-- Images -->
								<div style="padding-right: 50px"><p style="border-bottom: 1px dashed #d3d3d3;font-family: 'Roboto Slab';font-weight: 300;"><a href="#search-recipes////"> - Explore</a></p></div>
								<div style="padding-right: 50px;padding-top: 10px"><p style="border-bottom: 1px dashed #d3d3d3;font-family: 'Roboto Slab';font-weight: 300;"><a href="#about-us"> - About Us</a></p></div>
								<div style="padding-right: 50px;padding-top: 10px"><p style="border-bottom: 1px dashed #d3d3d3;font-family: 'Roboto Slab';font-weight: 300;"><a href="#blog"> - Blog</a></p></div>
								<div style="padding-right: 50px;padding-top: 10px"><p style="border-bottom: 1px dashed #d3d3d3;font-family: 'Roboto Slab';font-weight: 300;"><a href="#create-recipe"> + Create Becipe</a></p></div>	
								
								<div style="padding-right: 50px;padding-top: 10px"><p style="border-bottom: 1px dashed #d3d3d3;"><span style="color: transparent">.</span></p></div>
								<div style="padding-right: 50px;padding-top: 10px"><p style="border-bottom: 1px dashed #d3d3d3;"><span style="color: transparent">.</span></p></div>
								
							</div> <!--/ Footer widget end -->
						</div>
						<div class="col-md-7 col-sm-12">
							<!-- Footer widget -->
							<div class="footer-widget2 pull-left" style="width: 100%">
								<!-- Heading -->
								<h2 style="font-family: Georgia;font-style: italic;font-size: 18px;color: #e5a04b;margin-top: 50px;margin-bottom: 30px;">Directions:</h2>
								<!-- Images -->
								<div style="padding-right: 50px"><p style="border-bottom: 1px dashed #d3d3d3;font-family: 'Roboto Slab';font-weight: 300;">120 Homewood Ave, Unit 1905</p></div>
								<div style="padding-right: 50px;padding-top: 10px"><p style="border-bottom: 1px dashed #d3d3d3;font-family: 'Roboto Slab';font-weight: 300;">Toronto M4Y 2J3, Ontario</p></div>
								<div style="padding-right: 50px;padding-top: 10px"><p style="border-bottom: 1px dashed #d3d3d3;font-family: 'Roboto Slab';font-weight: 300;">Canada</p></div>
								<div style="padding-right: 50px;padding-top: 10px"><p style="border-bottom: 1px dashed #d3d3d3;font-family: 'Roboto Slab';font-weight: 300;">+1647 874 9449</p></div>
								<div style="padding-right: 50px;padding-top: 10px"><p style="border-bottom: 1px dashed #d3d3d3;font-family: 'Roboto Slab';font-weight: 300;">info@becipe.com</p></div>
								
								<div style="padding-right: 50px;padding-top: 10px"><p style="border-bottom: 1px dashed #d3d3d3;"><span style="color: transparent">.</span></p></div>
								
							</div> <!--/ Footer widget end -->
							<div class="pull-right"><span class="icon-mission-mortar" style="font-size: 169px;color: rgb(229,160,75);position: absolute;bottom: 0;right: -35px;"></span></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
</div>
<div style="padding: 10px 0;background-color: #e5a04b;margin-bottom: -30px;">
	<div class="container">
		<div class="row">	
			<div class="col-md-12">	
			
				<div class="pull-left">
					<p class="pull-left" style="line-height: 34px;color: #fff">&copy; 2014 <a href="#" style="color: inherit">BECIPE</a></p>	
					<p class="pull-left" style="margin: 0 10px;line-height: 34px;color: #fff">-</p>
					<p class="pull-left" style="line-height: 34px;"><a href="#" style="color: #fff">Say us hellow!</a></p>
				</div>	
				<div class="pull-right">
					<!-- Subscribe form -->
					<form role="form">
						<button class="btn pull-left" type="button" style="padding: 0;background-color: transparent;color: #fff;line-height: 34px;margin-right: 10px">SUBSCRIBE</button>
						<input class="form-control" type="email" placeholder="e-mail" style="width: 320px;"/>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Footer End -->
			