/*
* Folder v1.0
*
*/


@import "palette.less";



/* IMPORT ------------------------------------------------------------*/

@import url('reset.css');
@import url('social.css');



/* GENERAL ------------------------------------------------------------*/

.float-right {
   float: right;
}

.margin-top-20 {
  margin-top: 20px;
}

div.row-fluid [class*="span"].center-in-span { 
   float: none; 
   margin: 0 auto; 
   /*text-align: center;*/ 
   display: block; 
   width:auto; 
   height:auto;
}

#social-bar-container { 
  }
  
  #social-bar-right{
  display: block;
  float: right;
}

#social-bar-right li{
  display: block;
  float: left;
  margin-left: 6px;
  
  .transition();
  
  &:hover{
    -webkit-transform: translate(0px, -5px);
    -moz-transform: translate(0px, -5px);
    -o-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
  }
}

/* GENERAL END --------------------------------------------------------*/

/* MAIN MENU ------------------------------------------------------------*/

#main-menu{

  margin: 10px auto;
  
  figure{
    /*width: 300px;*/
    float: left;
    margin-right: 20px; 
    margin-bottom: 20px;
  }
}

/* MAIN MENU END --------------------------------------------------------*/

/* FILTER CONTAINER ------------------------------------------------------------*/

#filter-container{

  margin: 30px auto 0;
  
  figure{
    width: 300px;
    float: left;
    margin-right: 10px; 
    margin-bottom: 10px;
    /*.box-shadow();*/
    
    /*border: 1px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px #BAAA89;*/
    padding: 13px;
    
    .thumb{
      display: block;
      width: 100%;
      line-height: 0em;
      border-bottom: 2px solid #ccc;
      
      img{
        max-width: 100%;
        .transition();
      }
      
      /*&:hover img{ opacity: 0.2; }*/
    }
    
    .social-hover {
      position: absolute;
      float: right;
      right: 20px;  
      top: 25px;
      display: none;
      opacity: 0.5;  
    }
      
    &:hover .social-hover{
      display: block;
    }
    
    .author {
      float: left;
      line-height: 32px;
      vertical-align: middle;
    }
    
    .rating {
      float: right;
    }
     
    figcaption{
      margin: 18px 10px 10px 0px;
      /*text-align: center;*/
      
      .heading{
        /*margin-bottom: 13px;*/
        font-size: 18px;
        line-height: 1.2em;
        /*text-transform: uppercase;*/
        display: block;
        .transition();
      }
      
      .readmore{
        display: block;
        margin: 10px 0px;
      }
    }
    
  }
  
}

/* FILTER CONTAINER END --------------------------------------------------------*/

/* SIGNUP FORM ------------------------------------------------------------*/

.signup-container {
  background: url("../img/signup.background.JPG");
}

.signup-form {
  color: #DDDDDD;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
  border-radius: 24px 24px 24px 24px;
  margin: 100px auto 0;
  padding: 30px 50px;
  text-align: left;
  width: 550px;
  #title {
    font-size: 28px;
    letter-spacing: -1px;
    text-shadow: 0 0 0 #111111;
    width: 100%;
    margin-bottom: 20px;
  }
  
  #fn {
      float: left;
  }
  #fn, #ln {
      width: 245px !important;
  }
  #ln {
    float: right;
  }
  #em {
    padding-right: 80px;
    width: 460px !important;
  }
  input.empty[type="text"] {
      background: none repeat scroll 0 0 #DDDDDD;
      color: #666666;
  }
  input[type="text"],
  button 
  {
      background: none repeat scroll 0 0 #DDDDDD;
      border: 0 none;
      /*border-radius: 8px 8px 8px 8px;*/
      box-shadow: 0 0 3px #222222;
      color: #000000;
      display: inline;
      font-size: 30px;
      height: auto;
      letter-spacing: -1px;
      margin-top: 20px;
      padding: 5px 10px 8px;
      text-shadow: 1px 1px 0 #EEEEEE;
      transition: background 0.3s ease-out 0s, -moz-box-shadow 0.3s ease-out 0s;
  }
  
  input.error[type="text"] {
    background-color: #FF3333;
    box-shadow: 0 0 5px #FF0000;
    color: #FFFFFF;
    text-shadow: 0 0 0 #330000;
  }
  
  #footer {
      color: #DDDDDD;
      font-size: 16px;
      margin: 20px 0 10px;
      text-shadow: 0 -1px 0 #222222;
  }
  
  form > div {
    text-align: center;
  }
  
  #wait {
    background: url("../img/wait.gif") no-repeat scroll center center transparent;
    display: none;
    height: 32px;
    width: 32px;
    margin: 10px auto 0;
  }
  
  #success_message {
    color: #FFFFFF;
    display: none;
    font-size: 28px;
    letter-spacing: -1px;
    margin: 10px auto 0;
    text-align: left;
    text-shadow: 0 0 0 #111111;
    width: 550px;
  }
}

/* SIGNUP FORM END --------------------------------------------------------*/

/* HEADER ------------------------------------------------------------*/

#logo {
  float: left;
  color: black;
  text-shadow: none;
}

.menu-style {
  .menu-inner {
    ul {
      padding: 10px 0 0;
      li {
        margin-top: -8px;
        padding: 8px 5px;
        a.menu-image-item {
          margin: 0 5px;
          padding: 0px;
          outline: none;
          background: url("../img/search32.png") no-repeat;
          width: 32px;
          height: 32px;
        }
      }
    }
    .menu-text-item {
       line-height: 32px;
       color: black;
    }
  }
}

.menu-search-input {
  padding: 0 5px;
}


.menu-dropdown-div {
    border-left: none !important;
    border-radius: 0 0 0 0 !important;
    border-right: none !important;
    border: none !important;
     box-shadow: none !important;
    margin: 0 !important;
    padding: 30px 15px !important;
    color: @dropdownTextColor;
}

.navbar .nav > li > a {
    padding: 10px 5px !important;  
}
.navbar .nav > li > .dropdown-menu:after {
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}

.navbar .nav > li > .dropdown-menu:before {
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}

.nav-collapse .navbar-form, .nav-collapse .navbar-search {
    border-bottom: none !important;
    border-top: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.main-menu-chk {
    margin-top: 20px;
    .checkbox > input[type=checkbox] {
      margin: 4px 10px 0 0 !important;
      padding: 1px !important;
      float: none !important;
      position: relative;
      top: -2px;
      vertical-align: bottom !important;
      display: inline !important;
      }
}

input[type=checkbox]:focus,
input[type=checkbox]:active {
    outline: none;        
}

a.sb_menu.facebook,
.sb_menu a.facebook {
  background-image: url(../img/social_menu/facebook.png);
}

a.sb_menu.twitter,
.sb_menu a.twitter {
  background-image: url(../img/social_menu/twitter.png);
}

a.sb_menu.linkedin,
.sb_menu a.linkedin {
  background-image: url(../img/social_menu/linkedin.png);
}

a.sb_menu.pinterest,
.sb_menu a.pinterest {
  background-image: url(../img/social_menu/pinterest.png);
}

a.sb_menu.plus,
.sb_menu a.plus {
  background-image: url(../img/social_menu/add_this.png);
}
/* HEADER END --------------------------------------------------------*/

/* CONTENT ------------------------------------------------------------*/

#main {
  margin: 70px 20px;
}

.main-content-width {
  max-width: 940px;
}

.fixed {
    position: fixed;
    z-index: 1030;
}

.directions > ol{
    list-style: decimal outside none !important;
}

/* CONTENT END --------------------------------------------------------*/

/* TEMPLATE ------------------------------------------------------------*/

/* TEMPLATE END --------------------------------------------------------*/
