<div class="search-footer-container search-footer-style navbar navbar-fixed-bottom visible-xs">
	<div class="header-search-border header-seach-border-shadow"></div>	
	<div class="search-bar-wrapper">
		<div class="container container-full">
			<div class="row">
				<div class="col-xs-4">
					<div class="item category-filters-container select2-input-fix"></div>
				</div>
				<div class="col-xs-4">
					<div class="item filter-filters-container select2-input-fix"></div>
				</div>
				<div class="col-xs-4">
					<div class="item">
						Sort
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>