@bodyColor: #f9f6f4;/*#f0eedf;*/
@headerBodyBorder: #cc3300;
@headerBorderShadow: 0 2px 3px rgba(0, 0, 0, 0.4);
@headerSeachBorderShadow: 0 2px 5px rgba(0,0,0,0.1); 
@headerBackgroundColor: #e56500;
@headerCollapseBtnBackgroundColor: #e5a04b;
@headerTextColor: rgba(255, 255, 255, 0.7);
@headerTextColorHover: rgba(255, 255, 255, 1);

@brightOrangeColor: #e5a04b;
@brightOrangeColorHover: #e56500;
@brightOrangeColorOpac: rgba(229, 160, 75, 0.6);

@greenColor: #82AA7E;
@greenColorHover: #4c6849;

@deepOrangeColor: #d95c2b;
@deepOrangeColorHover: #cc3300; /*#b22e00;*/

@darkGreyColor: #555;
@mediumGreyColor: #756e69;
@lightGreyColor: #ccc;

@mediumGreyColorWithOpacity: rgba(117, 110, 105, 0.8);
@lightGreyColorWithOpacity: rgba(204, 204, 204, 0.5);
@whiteColorWithOpacity: rgba(255, 255, 255, 0.5);

@headerSearchBackgroundColor: #ddd;
@headerSearchColor: #999;
@headerSearchBtnBackgroundColor: #cdcdcd;
@headerSearchBtnBackgroundColorHover: #595959;
@advancedTextColor: #595959;

@headerSearchColor: rgba(204, 51, 0, 0.7);/*#cc3300*/
@headerSearchColorHover: rgba(204, 51, 0, 1);

@callToActionsButtons: #fff;

@textShadow: 0 1px 1px #fff;

.input-inner-shadow () { 
	-webkit-box-shadow: inset 0 0 6px 0 rgba(102,102,102,0.25);
	-moz-box-shadow: inset 0 0 6px 0 rgba(102,102,102,0.25);
	box-shadow: inset 0 0 6px 0 rgba(102,102,102,0.25);
}

.input-container-shadow () {
	-webkit-box-shadow: 0 1px 2px #fff;
	-moz-box-shadow: 0 1px 2px #fff;
	box-shadow: 0 1px 2px #fff;
	border: 1px solid rgba(0,0,0,0.15);
}

.input-full-shadow () {
	-webkit-box-shadow: 0 1px 2px #fff, inset 0 0 6px 0 rgba(102,102,102,0.25);
	-moz-box-shadow: 0 1px 2px #fff, inset 0 0 6px 0 rgba(102,102,102,0.25);
	box-shadow: 0 1px 2px #fff, inset 0 0 6px 0 rgba(102,102,102,0.25);
	border: 1px solid rgba(0,0,0,0.20);
}

.white-border-with-shadow() {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	border: 1px solid #fff;
}

.transition() {
	-webkit-transform: translateZ(0);
	transition: opacity .5s;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	-ms-transition: opacity .5s;
	
}