@()(implicit request: RequestHeader)

@main("aboutUs") {

<body class="home">
	
	<!-- MAIN -->
	<div id="main">
	
	
		<p>At Becipe.com, we're on a mission to help people create their own home made skin care products. Why create your own? Here's why:</p>

		<p><strong>Healthy.</strong> Cut out the harmful chemicals and have the peace of mind that comes from controlling the ingredients that go into your own skin care products.</p>

		<p><strong>Inexpensive.</strong> Why pay retail prices when you can make your own for less.</p>

		<p><strong>Individual.</strong> Everyone's unique. Why aren't your skin care products?</p>

		<p><strong>Fun.</strong> Learn a new craft and share with your friends.</p>

		<p>We're building a home for people that want to learn about, create, review and share home made skin care recipes. Whether you're a do-it-yourself skin care professional looking to share your expertise or a rookie who couldn't tell the difference between Myrrh and Turmeric, we have you covered.</p>

		<p>Search Becipe.com for existing recipes, watch instructional videos or create your own unique recipes and share them with your friends. Becipe.com makes creating your own beautiful skin care products a snap.</p>

		<p>Want more?</p>

		<p>Found a recipe you love but hate the hassle of shopping for all those ingredients? Purchase our recipe kits with a click of the mouse and have your recipe ingredients shipped straight to your door, ready to assemble.</p>

		<p>Or put your ordering on auto pilot and purchase a recipe subscription and we'll ship you a full kit straight to your door when you're done the previous kit.</p>

		<p>Until now, the only recipes you could find on the web were the kind you ate. We think that's a shame. And we're changing that, one beautiful home made recipe at a time.</p>
	
		
	</div><!-- ENDS MAIN -->
</body>
}

