@(currentMenu: String)

<!-- HEADER -->	
	<div class="navbar navbar-fixed-top">
      <div class="menu-style navbar-inner">
        <div class="container-fluid">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" class="brand" href="@routes.Application.index()">Becipe</a>
          <!--a href="@routes.Application.index()"><img id="logo" src="@routes.Assets.at("img/logo.png")" alt="Becipe logo"></a-->
          <div class="nav-collapse collapse menu-inner">
          	<ul class="nav pull-right">
          		<li class="dropdown">
          			<a class="menu-image-item pull-right" data-toggle="dropdown" href="#">	
          			</a>
          			<ul class="dropdown-menu menu-dropdown-div">
          				<div class="inner-search menu-search-input">
          					<form class="navbar-search form-inline" action="">
					        	<div class="input-append">
									<input class="span6" type="text">
									<button class="btn" type="button">Search</button>
								</div>
					        </form>
					        <div class="">
						        <div class="span2 main-menu-chk">
						        	
						        	<label class="checkbox">
  										<input type="checkbox" value="">
  											Skincare
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Hair Care
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Body care &#038; Spa
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Soap
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Bath &#038; Showertime
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Makeup
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Perfume
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Aromatherapy
									</label>			
						        </div>	
						        <div class="span2 main-menu-chk">
						        	<label class="checkbox">
  										<input type="checkbox" value="">
  											Pet's b(r)ecipes 
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Men's b(r)ecipes
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Kid's b(r)ecipes
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Anti-Acne
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Anti-Aging
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Anti-Dark Circles
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Anti-Wrinkle
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											The Rest...
									</label>										
						        </div>
						        <div class="span2 main-menu-chk">
						        	<label class="checkbox">
  										<input type="checkbox" value="">
  											NEW! 
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Articles
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Ingredients
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											What You Need For Cosmetics
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Resources
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Calculators
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Bases & Kits 
									</label>
									<label class="checkbox">
  										<input type="checkbox" value="">
  											Books &#038; Media 
									</label>							
						        </div>
						   	</div>
						</div>
          			</ul>
          		</li>
          		<li class=""><img class="menu-image-item pull-right" id="user" src="@routes.Assets.at("img/user32.png")" alt="user profile"></li>
            </ul>
            <ul>
            <span class="pull-right">
            	<ul id="social-bar" class="cf sb min">
            		@views.html.social_bar()
            	</ul>
            </span>
            <!--p class="navbar-text pull-right menu-text-item">
              FOLLOW US &nbsp;
            </p-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<!-- ENDS HEADER -->
<script>
	
	$(function() { 
		
		$(".menu-inner > ul > li > a").click(function() {
			$(this).parent().toggleClass('dropdown-image-click');
			return true;
		});	
		
		$(document).click(function(e) { 
			if($(this).not('.menu-inner > ul > li > a') || isChkBoxes) {
				$('.menu-inner > ul > li').removeClass('dropdown-image-click');
			}
			return true;
		});		
		
		$("input[type='checkbox']").click(function(e) { 
			e.stopPropagation();
			return true;
		});		
	});
</script>