@(currentMenu: String)

<!-- HEADER -->	
	<div class="navbar navbar-fixed-top">
      <div class="menu-style navbar-inner">
        <div class="container-fluid">
          <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--a id="logo" class="brand" href="@routes.Application.index()">Becipe</a-->
          <a href="@routes.Application.index()"><img id="logo" src="@routes.Assets.at("img/logo.png")" alt="Becipe logo"></a>
          <div class="nav-collapse collapse menu-inner">
          	<ul class="nav pull-right">
          		<li class="dropdown">
          			<a data-toggle="dropdown" href="#">	
          				<img class="menu-image-item pull-right" id="search" src="@routes.Assets.at("img/search32.png")" alt="search">
          			</a>
          			<ul class="dropdown-menu menu-dropdown-div">
          				<div class="inner-search menu-search-input">
          					<form class="navbar-search" action="@routes.RecipeController.search()" method="post">
					        	<div class="input-append">
									<input class="span6" type="text" name="query">
									<button class="btn" type="submit" id="searchBtn">Search</button>
								</div>
						        <div class="">
							        <div class="span2 main-menu-chk">
							        	
							        	<label class="checkbox">
	  										<input type="checkbox" name="categories[0]" value="skincare">
	  											Skincare
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[1]" value="haircare">
	  											Hair Care
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[2]" value="body-care-spa">
	  											Body care &#038; Spa
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[3]" value="soap">
	  											Soap
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[4]" value="bath-showertime">
	  											Bath &#038; Showertime
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[5]" value="makeup">
	  											Makeup
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[6]" value="perfume">
	  											Perfume
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[7]" value="aromatherapy">
	  											Aromatherapy
										</label>			
							        </div>	
							        <div class="span2 main-menu-chk">
							        	<label class="checkbox">
	  										<input type="checkbox" name="categories[8]" value="pets">
	  											Pet's b(r)ecipes 
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[9]" value="men">
	  											Men's b(r)ecipes
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[10]" value="kids">
	  											Kid's b(r)ecipes
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[11]" value="anti-acne">
	  											Anti-Acne
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[12]" value="anti-aging">
	  											Anti-Aging
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[13]" value="anti-dark-circles">
	  											Anti-Dark Circles
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[14]" value="anti-wrinkle">
	  											Anti-Wrinkle
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[15]" value="rest">
	  											The Rest...
										</label>										
							        </div>
							        <div class="span2 main-menu-chk">
							        	<label class="checkbox">
	  										<input type="checkbox" name="categories[16]" value="new">
	  											NEW! 
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[17]" value="articles">
	  											Articles
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[18]" value="ingredients">
	  											Ingredients
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[19]" value="what-you-need">
	  											What You Need For Cosmetics
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[20]" value="resources">
	  											Resources
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[21]" value="calculators">
	  											Calculators
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[22]" value="bases-kits">
	  											Bases & Kits 
										</label>
										<label class="checkbox">
	  										<input type="checkbox" name="categories[23]" value="books-media">
	  											Books &#038; Media 
										</label>							
							        </div>
							   	</div>
							</form>
						</div>
          			</ul>
          		</li>
          		<li class="">
          			<a href="@routes.Application.signup()">
          				<img class="menu-image-item pull-right" id="user" src="@routes.Assets.at("img/user32.png")" alt="user profile">
          			</a>
          		</li>
            </ul>
            <ul>
            <span class="pull-right">
            	<ul id="social-bar" class="cf sb min">
            		@views.html.social_menu()
            	</ul>
            </span>
            <!--p class="navbar-text pull-right menu-text-item">
              FOLLOW US &nbsp;
            </p-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<!-- ENDS HEADER -->
<script>
	
	$(function() { 
		
		$(".menu-inner > ul > li > a").click(function() {
			$(this).parent().toggleClass('dropdown-image-click');
			return true;
		});	
		
		$(document).click(function(e) { 
			if($(this).not('.menu-inner > ul > li > a') || isChkBoxes) {
				$('.menu-inner > ul > li').removeClass('dropdown-image-click');
			}
			return true;
		});		
		
		$("input[type='checkbox']").click(function(e) { 
			e.stopPropagation();
			return true;
		});	
	});
</script>