@(recipes: Seq[Recipe], selectedLevel: String = "all")(implicit request: RequestHeader)

@main("home", recipes) {

<body class="home">
	
	
	<!-- MAIN -->
	<div id="main">
		
		<ul id="filter-buttons">
			<li>
				<a href="#" data-filter="*" class="selected" data="all">show all</a>
			</li>
			<li>
				<a href="#" data-filter=".beginner" data="beginner">beginner</a>
			</li>
			<li>
				<a href="#" data-filter=".average" data="average">average</a>
			</li>
			<li>
				<a href="#" data-filter=".master" data="master">master</a>
			</li>
		</ul>
		
		<!-- Filter container -->
		<div id="filter-container">
			
				@for(i <- 0 to recipes.length - 1) {
					@defining(recipes(i)) { recipe =>
						<figure class="@recipe.level">
							<a href="@routes.RecipeController.get(recipe.id)" class="thumb"><img src="@recipe.photos.find(_.metadata.typeOf == "preview").getOrElse(S3Photo.EMPTY).getFullUrl" alt="@recipe.shortDesc" /></a>
							<div class="social-hover">
								<!-- social bar -->
								<div id="social-bar-container">
									<ul id="social-bar" class="cf sb">
										@views.html.social_bar(recipe.shortDesc)
									</ul>
								</div>
								<!-- end of social bar -->	
								</div>
							<figcaption>
								<a href="@routes.RecipeController.get(recipe.id)"><h3 class="heading">@recipe.name</h3></a>
							</figcaption>
							<div class="author">Posted By: @recipe.by</div>
							<div class="rating"><img title="rating" src="@routes.Assets.at("img/rating/"+recipe.rating+".png")" alt="rating for @recipe.name" /></div>
						</figure>
					}
					@if(i==0) {
						<figure class="corner-stamp beginner average master" style="width: 300px;height: auto;background: transparent !important;font-size: 18px;line-height: 25px">
							<h4 style="text-align: left;font-size: 33px;line-height: 39px">Welcome to Becipe</h4>
							<p style="line-height: inherit">
								We help you find, create and share your own DIY homemade beauty recipes. Look around, learn more <a href="@routes.Application.aboutUs()">about us</a> or <a href="@routes.Application.signup()">request an invite</a> for early access.
							</p>
						</figure>
					}
				}
			
		</div><!-- ENDS Filter container -->
	</div><!-- ENDS MAIN -->
</body>
<script>
	
	$(function() {
		$('#filter-buttons a[data='+'@{selectedLevel}]').click();
	});
</script>
}

