@(isAjaxContent: Boolean = true)(content: Html)(implicit request: RequestHeader, session: Session)
<!DOCTYPE html>

@if(isAjaxContent) {
	<head>
		<title>Becipe</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9,chrome=1"><!-- doesn't work in 10, bug in post request-->
		<meta name="description" content="">
		<meta name="author" content="">

		<meta name="viewport" content="width=device-width,initial-scale=1">
		
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bigelow Rules">
		
		<link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("img/favicon.ico")"/>
		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/flexslider/flexslider.css")"/>
		<!--[if !IE]><!-->
			<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/icomoon/style.css")"/>
		<!--<![endif]-->
		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css")"/>
		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/select2/select2.css")"/>
		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/poshytip/tip-darkgray/tip-darkgray.css")"/>
		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/bootstrap-select/bootstrap-select.css")"/>
		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/footable2/css/footable.core.css")"/>
		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/bootstrap-fileupload/bootstrap-fileupload.min.css")"/>
		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/bootstrap-editable/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css")"/>  
		<!--link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/bootstrap-editable/inputs-ext/wysihtml5/bootstrap-wysihtml5-0.0.2/wysiwyg-color.css")"/-->  
		<!--link rel="stylesheet" media="all" href="@routes.Assets.at("css/normalize.css")"/-->
		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]--> 
		
		
		<!--link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/bootstrap/css/bootstrap.min.css")"/>
		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/bootstrap/css/bootstrap-responsive.min.css")"/-->
		
		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/bootstrap3/css/bootstrap.min.css")"/>
		<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/bootstrap3/css/bootstrap-theme.min.css")"/>
		
		<!--link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/modalwindow/css/component.css")"/-->
		<link rel="stylesheet" media="all" href="@routes.Assets.at("css/style.css")"/>
		<link rel="stylesheet" media="all" href="@routes.Assets.at("css/modal.css")"/>
		
		<script>
			var sessionStr = '@Html(session.get("session").getOrElse(""))';
			var session = {};
			if(sessionStr!="") {
				session = JSON.parse(sessionStr);
			}
			var require = {
				config: {
					'app': {
						token: session.token,
						userid: session.userid,
						fn: session.fn,
						rfavs: session.rfavs
					},
					'globals': {
						currentIteration: '3',
						photoBaseUrl: 'https://s3.amazonaws.com'
					}
				}
			};
			var polyfilter_scriptpath = '/js/';
		</script>
		<!--@@requireJs(core = routes.Assets.at("js/external/require/require.js").url, module = routes.Assets.at("js/main").url)-->
		<script data-main="js/main" src="@routes.Assets.at("js/external/require/require.js")"></script>
	</head>
	<body>
		<!--[if IE]>
			<link rel="stylesheet" type="text/css" media="all" href="@routes.Assets.at("js/external/icomoon/style.css")"/>	
		<![endif]-->
		
		<div id="header"></div>
		
		<div class="container">
			<div class="row row-offcanvas row-offcanvas-left">
        
				<!-- sidebar -->
				<div class="col-xs-6 hidden-sm hidden-md hidden-lg sidebar-offcanvas" id="sidebar" role="navigation">
					<ul class="nav">
					  <li class="active"><a href="#">Home</a></li>
					  <li><a href="#">Link 1</a></li>
					  <li><a href="#">Link 2</a></li>
					  <li><a href="#">Link 3</a></li>              
					</ul>
				</div>
  	
				<!-- main area -->
				<div class="col-xs-12 col-sm-12">
		
					<div id="body-container">
						<div class="container">
							<div class="row">
								<div class="col-md-12">
									<div class="center-in-span main-content-width big-message">
										Please bear with us while we're loading...
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div><!-- /.col-xs-12 main -->
			</div><!--/.row-->
		</div><!--/.container-->
		
		
		<div class="modal-dialog"></div>
	</body>
} else {
	@content
}
</html>