@(currentMenu: String, recipes: Seq[Recipe] = Seq())(content: Html)(implicit request: RequestHeader)
<!DOCTYPE html>

<head>
	<title>@@title</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" media="all" href="@routes.Assets.at("js/external/flexslider/flexslider.css")"/>
	<link rel="stylesheet" media="all" href="@routes.Assets.at("js/external/icomoon/style.css")"/>
	<link rel="stylesheet" media="all" href="@routes.Assets.at("js/external/bootstrap/css/bootstrap.min.css")"/>
	<link rel="stylesheet" media="all" href="@routes.Assets.at("js/external/bootstrap/css/bootstrap-responsive.min.css")"/>
	<!--link rel="stylesheet" media="all" href="@routes.Assets.at("css/normalize.css")"/-->
	<link rel="stylesheet" media="all" href="@routes.Assets.at("css/style.css")"/>
	
	<script>
		var require = {
			config: {
				'app': {
					recipes: '[1,2,3]'
				}
			}
		};
	</script>
	<!--@@requireJs(core = routes.Assets.at("js/external/require/require.js").url, module = routes.Assets.at("js/main").url)-->
	<script data-main="js/main" src="@routes.Assets.at("js/external/require/require.js")"></script>
</head>
<body>
  
  <div id="header"></div>
  <div id="body-container"></div>
  
</body>
</html>