@(summary: String)

<li class="sb">
	<a href="#"  title="" class="facebook" id="fb-share"></a>
</li>
<li class="sb">
	<a href="#" title="Tweet this page" class="twitter" id="tw-share"></a>
</li>
<li class="sb">
	<a href="" title="" class="pinterest" id="pinterest-share"></a>
</li>
<li class="sb">
	<a href="http://plus.google.com" title="Enter my circles" class="plus" id="goog-share"></a>
</li>
<li class="sb">
	<a href="#" data="@summary" title="" class="linkedin" id="linkedin-share"></a>
</li>

