@()

	<li>
		<a title="" href="#" id="fb-follow">
			<span class="icon">
				<i class="icomoon-facebook" aria-hidden="true"> </i>
			</span>
		</a>
	</li>
	<li>
		<a title="" href="#" id="tw-follow">
			<span class="icon">
				<i class="icomoon-twitter" aria-hidden="true"> </i>
			</span>
		</a>
	</li>
	<li>
		<a title="" href="#" id="pin-follow">
			<span class="icon">
				<i class="icomoon-pinterest" aria-hidden="true"> </i>
			</span>
		</a>
	</li>
	<li>
		<a title="" href="#" id="goog-custom">
			<span class="icon">
				<i class="icomoon-google-plus" aria-hidden="true"> </i>
			</span>
		</a>
	</li>
	<li>
		<a title="" href="#" id="linkedin-follow">
			<span class="icon first">
				<i class="icomoon-linkedin" aria-hidden="true"> </i>
			</span>
		</a>
	</li>

