
<!-- Banner Start -->
			
<div class="banner banner-blog padd next-to-header  hidden-xs hidden-sm">
	<div class="container">
		<!-- Image -->
		<img class="img-responsive" src="img/crown-white.png" alt="" />
		<!-- Heading -->
		<h2 class="white">Blog</h2>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#blog">Blog</a></li>
		</ol>
		<div class="clearfix"></div>
	</div>
</div>

<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->

		<!-- Page Wrapper -->
		<div class="wrapper">
			
			<!-- Inner Content -->
			<div class="inner-page padd">
			
				<!-- Blog Start -->
					
				<div class="blog">
					<div class="container">
						
						<!-- Heading of the  post -->
						<div class="row">
							<div class="col-md-8">
								<h2><%= blogEntry.name%></h2>
							</div>
						</div>
						<!-- heading end -->
						<div class="row margin-top-40">
							<div class="col-md-8">
								<!-- Meta for this block -->
								<div class="meta pull-left margin-top-10">
									<i class="fa fa-calendar"></i>&nbsp; <%= blogEntry.date(blogEntry.created)%>
									<!--span class=""><i class="fa fa-comment"></i> <a href="#">&nbsp;2 Comments</a></span-->
								</div>
								<div class="entry-social">
									<!-- Social media icon -->
									<div class="social-section pull-right">
										<ul class="social-icons list-inline delayp4">
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											 <li><a href="#"><i class="fa fa-pinterest"></i></a></li>  
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li> 
											<li><a href="#"><i class="fa fa-linkedin"></i></a></li>								
										</ul>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="clearfix" />
								<hr /><!-- Horizontal line -->
							</div>
						</div>
						
											
						<div class="row">
							<div class="col-md-8">
							
								<!-- The new post done by user's all in the post block -->
								<div class="blog-post">
									<!-- Entry is the one post for each user -->
									<div class="entry">
										<!-- Post Images -->
										<div class="blog-img margin-bottom-30">
											<img src="img/blog/<%= blogEntry.id%>/blog-lg.jpg" class="img-full img-responsive img-thumbnail" alt="<%= blogEntry.shortDesc%>"/>
										</div>
										
										<!-- Paragraph -->
										
										<%_.each(blogEntry.paragraphs, function(paragraph){%>
											<p><%= paragraph.text%></p>
										<%})%>
										
										<h4 class="pull-right">
											<a href="<%= blogEntry.source%>">Read more </a>
										</h4>
										
										<div class="clearfix"></div>
									</div>
									
									
								</div><!--/ Blog post class end -->
								
								<!-- Navigation -->
								<!--div class="navigation button">  
									<div class="pull-left">
										<a href="blog.html" class="btn btn-danger btn-sm">&laquo; Previous Post</a>
									</div>
									<div class="pull-right">
										<a href="blog.html" class="btn btn-danger btn-sm">Next Post &raquo;</a>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="clearfix"></div-->
								
						
								<div class="margin-top-10">
								<!-- disqus -->
								<div id="disqus_thread"></div>
								<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
								<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
								<!-- end of disqus-->
								</div>
						
								
								
								
							</div> <!--/ Main blog column end -->
							<div class="col-md-4">
								<!-- Blog page sidebar -->
								<div class="blog-sidebar">
									<div class="row">
										<div class="col-md-12 col-sm-6">
											<!-- Blog sidebar page widget -->
											<div class="sidebar-widget">
												<!-- Widget Heading -->
												<h4>Recent Posts</h4>
												<!-- Recent post list -->
												<div id="recent-blog-entries"></div>
											</div><!--/ Widget end -->
										</div>
										<div class="col-md-12 col-sm-6">
											<!-- Blog sidebar page widget -->
											<div class="sidebar-widget">
												<!-- Widget Heading -->
												<h4>Search</h4>
												<!-- search button and input box -->
												<form role="form" class="form-inline">
													<div class="input-group">
														<input type="text" class="form-control" placeholder="Type to search">
														<span class="input-group-btn">
															<button class="btn btn-danger" type="button"><i class="fa fa-search"></i></button>
														</span>
													</div>
												</form><!--/ Form end -->
											</div><!--/ Widget end -->
										</div>
										<div class="col-md-12 col-sm-6">
											<!-- Blog sidebar page widget -->
											<div class="sidebar-widget">
												<!-- Widget Heading -->
												<h4>Tags</h4>
												<%_.each(blogEntry.tags, function(tag){%>
													<a href="#blog/tag/<%= tag%>" class="btn btn-default btn-sm"><%= tag%></a>
												<%})%>
											</div><!--/ Widget end -->
										</div>
										<div class="col-md-12 col-sm-6">
											<div class="sidebar-widget">
												<iframe class="fb-like-box" src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fbecipe&amp;width=292&amp;height=500&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=true" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
												<!--div class="fb-like-box" data-width="300" data-href="https://www.facebook.com/becipe" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true">
												</div-->
											</div>
										</div>
										
										<div class="col-md-12 col-sm-6">
											<!-- Blog sidebar page widget -->
											<div class="sidebar-widget">
												<!-- Widget Heading -->
												<h4>Our App</h4>
												<!-- Paragraph -->
												<p>Coming soon, an app that tells you natural alternatives to a skin care product, all with the touch of a button!</p>
												
												<a href="#" class="btn btn-danger pull-left">Read more</a>
												<div class="clearfix" />
											</div><!--/ Widget end -->
										</div>
									</div><!--/ Inner row end -->
								</div><!--/ Page sidebar end -->
							</div>
						</div><!--/ Row end -->
					</div>
				</div>
				
				<!-- Blog End -->
				
				<!-- Random recipes Start-->
				
				<div id="random-recipes"></div>
				
				<!-- Random recipes End -->
			
				<!-- Showcase Start -->
				
				<div class="showcase">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src="img/fruit2.png" alt="" />
									<!-- Heading -->
									<h3><a href="#">Our mission</a></h3>
									<!-- Paragraph -->
									<p>Nam libero tempore, cum soluta nobis est minis voluptas assum simple and easy to distinguis quo.</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src="img/fruit3.png" alt="" />
									<!-- Heading -->
									<h3><a href="#">Our App</a></h3>
									<!-- Paragraph -->
									<p>Coming soon, an app that tells you natural alternatives to a skin care product, all with the touch of a button!</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Showcase End -->
				
			</div><!-- / Inner Page Content End -->	
			
		</div><!-- / Wrapper End -->
			
		<!-- Scroll to top -->
		<span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span> 
		
		
		
