
<!-- Banner Start -->

<div class="next-to-header padd hidden-xs hidden-sm"></div>
<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<!-- Banner End -->			

<div class="row">
	<div class="col-md-12">
		<div class="social-section oath-provider">
			<h1>Create Your Account</h1>
			<ul class="social-icons list-inline delayp4">
				<li><a href="javascript: void(0)"><i class="fa fa-facebook"></i></a></li> 
				<li><a href="javascript: void(0)"><i class="fa fa-instagram"></i></a></li>
				<li><a href="javascript: void(0)"><i class="fa fa-google-plus"></i></a></li> 
				<li><a href="javascript: void(0)"><i class="fa fa-linkedin"></i></a></li>								
			</ul>
			<div class="border"></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="user-signup-form-width user-signup-form center-in-span">
			<form name="form" method="POST">
				<input data="First Name" type="text" placeholder="First Name" name="fn" id="fn">
				<input data="Last Name" type="text" placeholder="Last Name" name="ln" id="ln">
				<input data="Email Address" type="text" placeholder="Email Address" name="em" id="em">
				<span class="pull-right">By signing up, you agree to our <a href="#terms">Terms of Service</a>.</span>
				<div class="clearfix"></div>
				<button type="submit" id="signup" class="btn btn-danger">Sign Up</button><span class="or">or</span> <a href="#user/login">Login</a>
			</form>
		</div>
	</div>
</div>