<div class="navbar header-style navbar-fixed-top">

	<div class="container container-full">
		<div class="row">
		
			<div class="col-lg-4 visible-xs visible-sm">
				<a class="navbar-brand brand-as-text" href="#" data-toggle="close-mobile-menu">Becipe</a>
			</div>
				
			<!--a class="navbar-brand visible-xs visible-sm brand-as-text" href="#" data-toggle="close-mobile-menu">Becipe</a-->
			<div class="col-lg-4 visible-lg col-md-3 visible-md nav navbar-nav navbar-left" style="margin: 0 auto; margin-left: 15px;margin-top: 6px;margin-bottom: -6px;">
				<ul class="list-inline social-site header-social">
					<li><a href="tw"><i class="fa fa-twitter"></i></a></li>
					<li><a href="fa"><i class="fa fa-facebook"></i></a></li>
					<li><a href="pin"><i class="fa fa-pinterest"></i></a></li>  
					<li><a href="javascript: void(0)"><!--a href="gplus"--><i class="fa fa-google-plus"></i></a></li> 
					<li><a href="in"><i class="fa fa-linkedin"></i></a></li>								
				</ul>
			</div>
			
			<div class="col-lg-4 visible-lg col-md-4 visible-md search-container-style nav navbar-nav navbar-left">
				<div class="search-container search-style"></div>
			</div>
			
			<div class="navbar-collapse collapse">
				<ul class="main-links header-links nav navbar-nav navbar-right"></ul>
			</div><!--/.navbar-collapse -->
			
			<div class="navbar-header">	
				<div class="collapse-button navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav"> <!--data-toggle="collapse" data-target=".navbar-collapse"-->
					<a href="javascript: void(0)"><div data-icon="&#xe112;" class="sp" aria-hidden="true"></div></a>
				</div>
			</div>
			
			<div class="header-border"></div>
		</div>
	</div> 
	
</div>



<div class="search-bar-container  navbar navbar-fixed-top visible-sm visible-md visible-lg">
	<div class="search-bar-wrapper">
		<div class="container container-full">
			<div class="row">
				<div class="col-sm-4 col-md-4 col-lg-3">
					
					<a class="navbar-brand brand-style hidden-xs hidden-sm hidden-md" href="#"><img src="../img/logo.png" class="img-responsive"></a>
					<a class="navbar-brand brand-style visible-md" href="#"><img src="../img/logo.png" class="img-responsive" style="max-height: 60px;margin-top: -10px"></a>
					
					<!--a class="navbar-brand brand-style hidden-xs hidden-sm brand-as-text" href="#" style="font-size: 3em;">Becipe</a-->
					
					
					<div class="hidden-lg hidden-md search-container-style" style="margin-top: 0px;">
						<div class="search-container search-style"></div>
					</div>
				</div>				
				<div class="hidden-sm hidden-md col-lg-9"> <!-- col-md-8  -->
					<div class="">
						<ul class="checkboxlist" id="recipes-filters"></ul>
					</div>
				</div>
				<div class="col-sm-4 hidden-lg">
					<div class="item category-filters-container select2-input-fix"></div>
				</div>
				<div class="col-sm-4 hidden-lg">
					<div class="item filter-filters-container select2-input-fix"></div>
				</div>
			</div>
		</div>	
	</div>
	<div class="header-search-border header-seach-border-shadow"></div>	
</div>

