<div class="row">
	<%_.each(recipes, function(recipe){%>
		<div class="col-md-4 col-sm-6 col-xs-12 <%if(recipe.id == "2H0nxZ"){%>hidden-md hidden-lg<%} %>">	
			<div class="recipes-item-container">
				<div class="ch-item" style="background-image:url(<%= photoBaseUrl()%>/recipe/<%= recipe.id%>/square.jpg);">
					<div class="ch-info">
						<h3><%= recipe.name%></h3>
						<p>by <%= recipe.by%> <a href="#recipe/<%= recipe.id%>">VIEW BECIPE</a></p>
					</div>
				</div>
			</div>
		</div>
	<%})%>
</div>
