<!--figure style="height: auto;background: #fff !important;font-size: 18px;line-height: 25px;"-->
	<div class="recipe">
		<div class="image">
			<a href="#recipe/<%= id %>">
				<img src="https://s3.amazonaws.com/<%= _.find(photos, function(photo){ return photo.metadata.typeOf == 'preview'; }).bucket%>/<%=_.find(photos, function(photo){ return photo.metadata.typeOf == 'preview'; }).key%>"/>
			</a>
		</div>
		<div class="details">
			<div class="inner">
				<div class="name">
					<div class="name-label">
						<a class="text" href="#recipe/<%= id %>">
							<%= name %>
						</a>
					</div>
					<div class="share">
						<div>
							<a class="text" href="#share"><div data-icon="&#xf045;" class="ico-btn sp" aria-hidden="true"></div></a>
						</div>
					</div>
				</div>
				<div class="clear-both"></div>
				<a href="#user"><div class="by"><%= by%></div></a>
				<div class="clear-both"></div>
				<div class="bar">
					<div class="like">
						<div>
							<a href="#like"><div data-icon="&#xe0c8;" class="ico-btn sp" aria-hidden="true"></div></a>
						</div>
					</div>
					<div class="stats">10</div>
					<div class="views">
						<div>
							<div data-icon="&#xf2b5;" class="ico-btn sp" aria-hidden="true"></div>
						</div>
					</div>
					<div  class="stats">230</div>
				</div>
				<div class="clear-both"></div>
			</div>
		</div>
	</div>
<!--/figure-->