<!-- Banner Start -->
			
<div class="banner banner-search-recipes-results padd next-to-header hidden-xs hidden-sm">
	<div class="container">
		<!-- Image -->
		<img class="img-responsive" src="img/crown-white.png" alt="" />
		<!-- Heading -->
		<h2 class="white"><%= category%></h2>
		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a href="blog.html">Becipes</a></li>
		</ol>
		<div class="clearfix"></div>
	</div>
</div>

<div class="next-to-header visible-xs visible-sm" style="height: 1px"></div>

<div class="" style="margin: 30px auto;text-align: center"><h3>Beginner | Average | Master</h3></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="main-content-width center-in-span" style="margin-top: 20px;margin-bottom: -6px;text-align: center; line-height: 48px;font-family: Bigelow Rules;letter-spacing: 1px;">
				<!--img src="../img/halloween.png" /> <span style="font-weight: bold;font-size: 32px;">Happy Halloween!</span> <span style="font-size: 28px;">natural spooktacular Becipes are <a href="#search-recipes/halloween///">here</a> </span><img src="../img/halloween1.png" /-->
			</div>
		</div>
	</div>
</div>


<div id="filter-container">

	<figure class="slider hidden-xs hidden-sm">
		<div class="flexslider">
		  <ul class="slides">
			<li>
			  <img src="../img/slider.png" />
			</li>
			<li>
			  <img src="../img/slider2.png" />
			</li>
			<li>
			  <img src="../img/slider3.png" />
			</li>
		  </ul>
		</div>
	</figure>
	<figure class="signup-message hidden-xs hidden-sm">
		<div class="wrapper">
			<div class="image-wrapper">
				<img src="../img/signup-msg.png" class="img-responsive"/>
			</div>
			<div class="action-container">
				<div class="action">
					<a class="green" href="#user/signup">
						<b>Sign Up</b>
					</a>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="create-recipe hidden-xs hidden-sm">
		<a href="#create-recipe"><div>Create a recipe</div></a>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="about-us hidden-xs hidden-sm">
			<a href="#about-us"><div>About Us</div></a>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
	<figure class="placeholder">
		<div class="recipe">
			<div class="image">
				<div class="wait"><img src="../img/wait.gif"/></div>
			</div>
			<div class="details">
				<div class="inner">
					<div>
						Loading...
					</div>
				</div>
			</div>
		</div>
	</figure>
</div>