<div class="navbar header-style navbar-fixed-top">
	<div class="navbar-header">
		<a class="navbar-brand visible-xs visible-sm brand-as-text" href="#" data-toggle="close-mobile-menu">Becipe</a>
		<a class="navbar-brand brand-style hidden-xs hidden-sm" href="#"><img src="../img/logo.png"></a>
		
		<div class="collapse-button navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav"> <!--data-toggle="collapse" data-target=".navbar-collapse"-->
		  <a href="javascript: void(0)"><div data-icon="&#xe112;" class="sp" aria-hidden="true"></div></a>
		</div>
		
	</div> 
	<div class="navbar-collapse collapse">
		<ul class="main-links header-links nav navbar-nav navbar-right"></ul>
	</div><!--/.navbar-collapse -->
	<div class="header-border header-border-shadow"></div>
</div>
<div class="search-bar-container  navbar navbar-fixed-top visible-sm visible-md visible-lg">
	<div class="search-bar-wrapper">
		<div class="container container-full">
			<div class="row">
				<div class="col-sm-4 col-md-4">
					<div class="search-container-style">
						<div class="search-container search-style"></div>
					</div>
				</div>				
				<div class="hidden-sm col-md-8">
					<div class="search-container-style">
						<ul class="checkboxlist padding-top-8" id="recipes-filters"></ul>
					</div>
				</div>
				<div class="col-sm-4 hidden-md hidden-lg">
					<div class="item category-filters-container select2-input-fix"></div>
				</div>
				<div class="col-sm-4 hidden-md hidden-lg">
					<div class="item filter-filters-container select2-input-fix"></div>
				</div>
			</div>
		</div>	
	</div>
	<div class="header-search-border header-seach-border-shadow"></div>	
</div>