<li class="search-style hidden-sm hidden-md hidden-lg">
	<input name="query" placeholder="Search..." class="col-xs-10"/>
	<div title="Search" class="button autosuggestButton col-xs-1"><div id="search-btn" data-icon="&#xe167;" class="sp" aria-hidden="true"></div></div>	
	<div class="clear"></div>
</li>
<li class="create-recipe"><a href="#create-recipe">Create recipe</a></li>
<li class="login" data="login"><a href="#user/login">Login</a></li>
<li class="login" data="logout" style="display:none"><a href="#user/logout">Logout</a></li>
<li class="signup" data="signup"><a href="#user/signup">Sign up</a></li>
<li class="signup" data="user-settings" style="display:none"><a href="#user/settings"></a></li>
<li class="more hidden-xs"><a href="javascript: void(0)"><div data-icon="&#xe112;" class="sp" aria-hidden="true"></div></a></li>