<li class="search-container search-style hidden-sm hidden-md hidden-lg"></li>
<li class="hidden-sm hidden-md hidden-lg"><a href="#about-us">About Us</a></li>
<li class="create-recipe"><a href="#blog">Blog</a></li>
<li class="login" data="login"><a href="#user/login">About Us</a></li>
<li class="login" data="logout" style="display:none"><a href="#user/logout">Logout</a></li>
<li class="signup" data="signup"><a href="#user/signup">Login</a></li>
<li class="signup" data="user-settings" style="display:none"><a href="#user/settings"></a></li>

<!--li class="share"><a href="javascript: void(0)"><div data-icon="&#xe1d8;" class="sp" aria-hidden="true"></div></a></li-->
<!--li class="share dropdown social-site"> 
	<a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown"><div data-icon="&#xe1d8;" class="sp" aria-hidden="true"></div></a>
	<ul class="dropdown-menu">
		<ul class="social-dropdown-menu list-inline">
			<li>
				<span class="glyph">
					<!--a href="gplus"-><a href="javascript: void(0)"><div style="opacity: 0.3" data-icon="&#xe18d;" class="sp" aria-hidden="true"> </div></a>
				</span>
			</li>
			<li>
				<span class="glyph">
					<a href="fb"><div data-icon="&#xe18e;" class="sp" aria-hidden="true"> </div></a>
				</span>
			</li>
			<li>
				<span class="glyph">
					<a href="tw"><div data-icon="&#xe18b;" class="sp" aria-hidden="true"> </div></a>
				</span>
			</li>
			<li>
				<span class="glyph">
					<a href="pin"><div data-icon="&#xe18c;" class="sp" aria-hidden="true"> </div></a>
				</span>
			</li>
	
			<li>
				<span class="glyph">
					<a href="in"><div data-icon="&#xe18a;" class="sp" aria-hidden="true"> </div></a>
				</span>
			</li>
		</ul>
	</ul>
</li-->


<!--li class="more hidden-xs"><a href="javascript: void(0)"><div data-icon="&#xe112;" class="sp" aria-hidden="true"></div></a></li-->