<!--div class="row"-->

<!--input name="query" placeholder="Search..."/>
<div title="Search" class="button autosuggestButton">
	<div id="search-btn" data-icon="&#xe167;" class="sp" aria-hidden="true"></div>
</div>
<div class="clear"></div-->
<!--/div-->



<div class="input-group">
	<input name="query" type="text" class="form-control" placeholder="Search...">
	<span class="input-group-btn">
		<button id="search-btn" class="btn btn-default autosuggestButton" type="button">
			<!--i class="fa fa-search"></i-->
			<div id="search-btn" data-icon="&#xe167;" class="sp" aria-hidden="true"></div>
		</button>
	</span>
</div>